{% extends "base/base.html" %}

{% load i18n %}

{% block head %}
    {% include "base/head.html" with page_title="Overlays Control Center" %}
{% endblock %}

{% block sidebar %}
    {% include "base/sidebar.html" with active_page="control-center" %}
{% endblock %}


{% block page_title_icon %}
    <i class="fas fa-2x fa-desktop"></i>
{% endblock %}

{% block page_title_text %}
    {% trans "Overlays Control Center" %}
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">Overlays</li>
    <li class="breadcrumb-item active">{% trans "Control Center" %}</li>
{% endblock %}


{% block content %}

    <div class="row">

        <!-- Overlay Toggles -->
        <div class="col-md-6">
            <div class="card card-success card-outline-all mb-3">
                <div class="card-body bg-gray-800 text-white">
                    <h5 class="card-title card-title-upper">{% trans "Toggle Overlays" %}</h5><br>

                    <div class="card-divider"></div>

                    <!-- Start Overlay -->
                    <div class="row mb-1">
                        <div class="col-9">
                            {% trans "Start Overlay" %}
                        </div>
                        <div class="col-3 text-right">
                            {% if overlay_states.start_state %}
                                <button class="btn badge badge-success w-100" data-state="true"
                                        data-name="start_state" onclick="toggleState(this)">{% trans "on" %}
                                </button>
                            {% else %}
                                <button class="btn badge badge-danger w-100" data-state="false"
                                        data-name="start_state" onclick="toggleState(this)">{% trans "off" %}
                                </button>
                            {% endif %}
                        </div>
                    </div>

                    <!-- InGame Overlay -->
                    <div class="row mb-1">
                        <div class="col-9">
                            {% trans "InGame Overlay" %}
                        </div>
                        <div class="col-3 text-right">
                            {% if overlay_states.ingame_state %}
                                <button class="btn badge badge-success w-100" data-state="true"
                                        data-name="ingame_state" onclick="toggleState(this)">{% trans "on" %}
                                </button>
                            {% else %}
                                <button class="btn badge badge-danger w-100" data-state="false"
                                        data-name="ingame_state" onclick="toggleState(this)">{% trans "off" %}
                                </button>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Maps Overlay -->
                    <div class="row mb-1">
                        <div class="col-9">
                            {% trans "Maps Overlay" %}
                        </div>
                        <div class="col-3 text-right">
                            {% if overlay_states.maps_state %}
                                <button class="btn badge badge-success w-100" data-state="true"
                                        data-name="maps_state" onclick="toggleState(this)">{% trans "on" %}
                                </button>
                            {% else %}
                                <button class="btn badge badge-danger w-100" data-state="false"
                                        data-name="maps_state" onclick="toggleState(this)">{% trans "off" %}
                                </button>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Operator Bans Overlay -->
                    <div class="row mb-1">
                        <div class="col-9">
                            {% trans "Operator Bans Overlay" %}
                        </div>
                        <div class="col-3 text-right">
                            {% if overlay_states.opbans_state %}
                                <button class="btn badge badge-success w-100" data-state="true"
                                        data-name="opbans_state" onclick="toggleState(this)">{% trans "on" %}
                                </button>
                            {% else %}
                                <button class="btn badge badge-danger w-100" data-state="false"
                                        data-name="opbans_state" onclick="toggleState(this)">{% trans "off" %}
                                </button>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Rounds Overlay -->
                    <div class="row">
                        <div class="col-9">
                            {% trans "Rounds Overlay" %}
                        </div>
                        <div class="col-3 text-right">
                            {% if overlay_states.rounds_state %}
                                <button class="btn badge badge-success w-100" data-state="true"
                                        data-name="rounds_state" onclick="toggleState(this)">{% trans "on" %}
                                </button>
                            {% else %}
                                <button class="btn badge badge-danger w-100" data-state="false"
                                        data-name="rounds_state" onclick="toggleState(this)">{% trans "off" %}
                                </button>
                            {% endif %}
                        </div>
                    </div>

                    <div class="card-divider mt-3"></div>

                    <!-- Social Overlay -->
                    <div class="row mb-1">
                        <div class="col-9">
                            {% trans "Social Overlay" %}
                        </div>
                        <div class="col-3 text-right">
                            {% if overlay_states.social_state %}
                                <button class="btn badge badge-success w-100" data-state="true"
                                        data-name="social_state" onclick="toggleState(this)">{% trans "on" %}
                                </button>
                            {% else %}
                                <button class="btn badge badge-danger w-100" data-state="false"
                                        data-name="social_state" onclick="toggleState(this)">{% trans "off" %}
                                </button>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Poll Overlay -->
                    <div class="row mb-1">
                        <div class="col-9">
                            {% trans "Poll Overlay" %}
                        </div>
                        <div class="col-3 text-right">
                            {% if overlay_states.poll_state %}
                                <button class="btn badge badge-success w-100" data-state="true"
                                        data-name="poll_state" onclick="toggleState(this)">{% trans "on" %}
                                </button>
                            {% else %}
                                <button class="btn badge badge-danger w-100" data-state="false"
                                        data-name="poll_state" onclick="toggleState(this)">{% trans "off" %}
                                </button>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Timer Overlay -->
                    <div class="row mb-1">
                        <div class="col-9">
                            {% trans "Timer Overlay" %}
                        </div>
                        <div class="col-3 text-right">
                            {% if overlay_states.timer_state %}
                                <button class="btn badge badge-success w-100" data-state="true"
                                        data-name="timer_state" onclick="toggleState(this)">{% trans "on" %}
                                </button>
                            {% else %}
                                <button class="btn badge badge-danger w-100" data-state="false"
                                        data-name="timer_state" onclick="toggleState(this)">{% trans "off" %}
                                </button>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Ticker Overlay -->
                    <div class="row mb-1">
                        <div class="col-9">
                            {% trans "Ticker Overlay" %}
                        </div>
                        <div class="col-3 text-right">
                            {% if overlay_states.ticker_state %}
                                <button class="btn badge badge-success w-100" data-state="true"
                                        data-name="ticker_state" onclick="toggleState(this)">{% trans "on" %}
                                </button>
                            {% else %}
                                <button class="btn badge badge-danger w-100" data-state="false"
                                        data-name="ticker_state" onclick="toggleState(this)">{% trans "off" %}
                                </button>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Next Match -->
                    <div class="row">
                        <div class="col-9">
                            {% trans "Next Match Overlay" %}
                        </div>
                        <div class="col-3 text-right">
                            {% if overlay_states.next_match_state %}
                                <button class="btn badge badge-success w-100" data-state="true"
                                        data-name="next_match_state" onclick="toggleState(this)">{% trans "on" %}
                                </button>
                            {% else %}
                                <button class="btn badge badge-danger w-100" data-state="false"
                                        data-name="next_match_state" onclick="toggleState(this)">{% trans "off" %}
                                </button>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Overlay Actions -->
        <div class="col-md-6">
            <div class="card card-danger card-outline-all mb-3">
                <div class="card-body bg-gray-800 text-white">
                    <h5 class="card-title card-title-upper">{% trans "Overlay Actions" %}</h5><br>

                    <div class="card-divider"></div>

                    <!-- Set Timer -->
                    <div class="row mb-1">
                        <div class="col-6">
                            {% trans "Set Timer Mode" %}
                        </div>
                        <div class="col-3 text-right">
                            {% if timer_overlay_data.mode == "timer" %}
                                <button id="timerBtn" class="btn badge badge-success w-100" data-state="true"
                                        data-name="timer" onclick="toggleTimerMode(this)">{% trans "timer mode" %}
                                </button>
                            {% else %}
                                <button id="timerBtn" class="btn badge badge-secondary w-100" data-state="false"
                                        data-name="timer" onclick="toggleTimerMode(this)">{% trans "timer mode" %}
                                </button>
                            {% endif %}
                        </div>
                        <div class="col-3 text-right">
                            {% if timer_overlay_data.mode == "clock" %}
                                <button id="clockBtn" class="btn badge badge-success w-100" data-state="true"
                                        data-name="clock" onclick="toggleTimerMode(this)">{% trans "clock mode" %}
                                </button>
                            {% else %}
                                <button id="clockBtn" class="btn badge badge-secondary w-100" data-state="false"
                                        data-name="clock" onclick="toggleTimerMode(this)">{% trans "clock mode" %}
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            {% trans "Set Timer" %}
                        </div>
                        <div class="col-3">
                            <input id="timerValueInput" class="form-control form-control-sm w-100" type="text"
                                   maxlength="5" value="{{ timer_overlay_data.value }}">
                        </div>
                        <div class="col-3">
                            <button class="btn badge badge-primary w-100 h-100"
                                    onclick="setTimerValue()">{% trans "Confirm" %}</button>
                        </div>
                    </div>

                    <div class="card-divider mt-3"></div>

                    <!-- Set current match -->
                    <div class="row mt-2">
                        <div class="col-6">
                            {% trans "Set Current Match" %}
                        </div>
                        <div class="col-3">
                            <select id="setCurrentMatchSelect" class="form-control form-control-sm w-100" type="text">
                                <option value="" selected disabled hidden>{% trans "Select" %}</option>
                                {% for m in matches %}
                                    <option value="{{ m.id }}">{{ m.id }} ({{ m.team_blue }} vs. {{ m.team_orange }})
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-3">
                            <button class="btn badge badge-primary w-100 h-100">{% trans "Confirm" %}</button>
                        </div>
                    </div>

                    <!-- Set next match -->
                    <div class="row mt-2">
                        <div class="col-6">
                            {% trans "Set Next Match" %}
                        </div>
                        <div class="col-3">
                            <select id="setNextMatchSelect" class="form-control form-control-sm w-100" type="text">
                                <option value="" selected disabled hidden>{% trans "Select" %}</option>
                                {% for m in matches %}
                                    <option value="{{ m.id }}">{{ m.id }} ({{ m.team_blue }} vs. {{ m.team_orange }})
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-3">
                            <button class="btn badge badge-primary w-100 h-100">{% trans "Confirm" %}</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div><!-- ./row -->

    <div class="row">

        <!-- Current Overlay Data -->
        <div class="col-md-6">
            <div class="card card-primary card-outline-all mb-3">
                <div class="card-body bg-gray-800 text-white">
                    <h5 class="card-title card-title-upper">{% trans "Overlay Match Data" %}</h5><br>

                    <div class="card-divider"></div>

                    <!-- Match ID -->
                    <div class="row mb-1">
                        <div class="col-4">
                            {% trans "Current Match ID" %}
                        </div>
                        <div class="col-8 text-right">
                            <b>{{ current_match.id }}</b>
                        </div>
                    </div>

                    <!-- Match Status -->
                    <div class="row mb-1">
                        <div class="col-4">
                            {% trans "Match Status" %}
                        </div>
                        <div class="col-8 text-right">
                            {% if current_match.state == "created" %}
                                <b>{% trans "Created" %}</b>
                            {% elif current_match.state == "in_progress" %}
                                <b>{% trans "In Progress" %}</b>
                            {% elif current_match.state == "finished" %}
                                <b>{% trans "Finished" %}</b>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Team Blue -->
                    <div class="row mb-1">
                        <div class="col-4">
                            {% trans "Team Blue" %}
                        </div>
                        <div class="col-8 text-right">
                            <b>{{ current_match.team_blue }}</b>
                        </div>
                    </div>

                    <!-- Team Orange -->
                    <div class="row mb-1">
                        <div class="col-4">
                            {% trans "Team Orange" %}
                        </div>
                        <div class="col-8 text-right">
                            <b>{{ current_match.team_orange }}</b>
                        </div>
                    </div>

                    <!-- Score -->
                    <div class="row mb-1">
                        <div class="col-4">
                            {% trans "Current Match Score" %}
                        </div>
                        <div class="col-8 text-right">
                            <b>{{ current_match.score_blue }} - {{ current_match.score_orange }}</b>
                        </div>
                    </div>

                    <div class="card-divider mt-3"></div>

                    <!-- Current Map -->
                    <div class="row mb-1">
                        <div class="col-4">
                            {% trans "Current Map" %}
                        </div>
                        <div class="col-8 text-right">
                            {% if match_overlay_data.current_map %}
                                <b>{{ match_overlay_data.current_map }}</b>
                            {% else %}
                                <b>{% trans "Not selected yet" %}</b>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Current Map Score -->
                    <div class="row">
                        <div class="col-4">
                            {% trans "Current Map Score" %}
                        </div>
                        <div class="col-8 text-right">
                            {% if match_overlay_data.current_map %}
                                <!-- To Do -->
                            {% else %}
                                <b>0 - 0</b>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Current Overlay Styles -->
        <div class="col-md-6">
            <div class="card card-warning card-outline-all mb-3">
                <div class="card-body bg-gray-800 text-white">
                    <h5 class="card-title card-title-upper">{% trans "Overlay Styles" %}</h5><br>

                    <div class="card-divider"></div>

                    <!-- Start Overlay -->
                    <div class="row mb-1">
                        <div class="col-4">
                            {% trans "Start Overlay" %}
                        </div>
                        <div class="col-8 text-right text-capitalize">
                            {% if overlay_styles.start_style == "default" %}
                                <b>{% trans "default" %} ({% trans "dark" %})</b>
                            {% else %}
                                <b>{{ overlay_styles.start_style }}</b>
                            {% endif %}
                        </div>
                    </div>

                    <!-- InGame Overlay -->
                    <div class="row mb-1">
                        <div class="col-4">
                            {% trans "InGame Overlay" %}
                        </div>
                        <div class="col-8 text-right text-capitalize">
                            {% if overlay_styles.ingame_style == "default" %}
                                <b>{% trans "default" %} ({% trans "blue" %} / {% trans "orange" %})</b>
                            {% else %}
                                <b>{{ overlay_styles.ingame_style }}</b>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Team names -->
                    <div class="row mb-1">
                        <div class="col-4">
                            {% trans "Team Names" %}
                        </div>
                        <div class="col-8 text-right text-capitalize">
                            {% if overlay_styles.ingame_logos %}
                                <b>{% trans "enabled" %}</b>
                            {% else %}
                                <b>{% trans "disabled" %}</b>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Operator Bans Overlay -->
                    <div class="row mb-1">
                        <div class="col-4">
                            {% trans "Operator Bans Overlay" %}
                        </div>
                        <div class="col-8 text-right text-capitalize">
                            {% if overlay_styles.opbans_style == "default" %}
                                <b>{% trans "default" %} ({% trans "bottom right" %})</b>
                            {% else %}
                                <b>{{ overlay_styles.opbans_style }}</b>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Maps Overlay -->
                    <div class="row">
                        <div class="col-4">
                            {% trans "Maps Overlay" %}
                        </div>
                        <div class="col-8 text-right text-capitalize">
                            {% if overlay_styles.maps_style == "default" %}
                                <b>{% trans "default" %} ({% trans "dark" %})</b>
                            {% else %}
                                <b>{{ overlay_styles.maps_style }}</b>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- Info -->
    <div class="row mt-2">
        <div class="col-12">
            <div class="alert alert-info">
                <h3>
                    <i class="icon fas fa-info"></i>
                    {% trans "Info" %}
                </h3>
                <p>
                    {% trans "Coming soon" %}
                </p>
            </div>
        </div>
    </div>

    {% include "overlays/control-center-script.html" %}

{% endblock %}