<!-- Page Script -->

{% load i18n %}

<script>
    var current_user_id = {{ user.id }};

    $(document).ready(function () {

    });

    function toggleState(elem) {
        var qElem = $(elem);

        var postURL = "/api/overlay/overlay_state/" + current_user_id + "/"

        if (qElem.attr("data-state") === "true") {
            qElem.attr("data-state", "false")

            qElem.removeClass("badge-success");
            qElem.addClass("badge-danger");

            qElem.html("{% trans "off" %}");

            data = '{"' + qElem.attr('data-name') + '": false}';

            console.log("POST: " + postURL + " => " + data);
            $.post(postURL, data);

        } else if (qElem.attr("data-state") === "false") {
            qElem.attr("data-state", "true")

            qElem.removeClass("badge-danger");
            qElem.addClass("badge-success");

            qElem.html("{% trans "on" %}");

            data = '{"' + qElem.attr('data-name') + '": true}';

            console.log("POST: " + postURL + " => " + data);
            $.post(postURL, data);
        }
    }

    function toggleTimerMode(elem) {
        var qElem = $(elem);
        var value = $("#timerValueInput").val();
        var postURL = "/api/overlay/timer_overlay_data/" + current_user_id + "/"

        if (qElem.attr("data-state") === "true") return;

        if (qElem.attr("data-name") === "timer") {
            var clockElem = $("#clockBtn");

            qElem.attr("data-state", "false");
            qElem.removeClass("badge-secondary");
            qElem.addClass("badge-success");

            clockElem.attr("data-state", "false");
            clockElem.removeClass("badge-success");
            clockElem.addClass("badge-secondary");

            data = '{"mode": "timer", "value": "' + value + '"}';
            console.log("POST: " + postURL + " => " + data);
            $.post(postURL, data);

        } else if (qElem.attr("data-name") === "clock") {
            var timerElem = $("#timerBtn");

            qElem.attr("data-state", "true");
            qElem.removeClass("badge-secondary");
            qElem.addClass("badge-success");

            timerElem.attr("data-state", "false");
            timerElem.removeClass("badge-success");
            timerElem.addClass("badge-secondary");

            data = '{"mode": "clock", "value": "' + value + '"}';
            console.log("POST: " + postURL + " => " + data);
            $.post(postURL, data);
        }
    }

    function setTimerValue() {
        var value = $("#timerValueInput").val();
        var postURL = "/api/overlay/timer_overlay_data/" + current_user_id + "/"

        if ($('#timerBtn').attr("data-state") === "true") {
            data = '{"mode": "timer", "value":"' + value + '"}';

        } else if ($('#clockBtn').attr("data-state") === "true") {
            data = '{"mode": "clock", "value":"' + value + '"}';
        }

        console.log("POST: " + postURL + " => " + data);
        $.post(postURL, data);
        toastr.success("{% trans "The timer has been set to " %}" + value);
    }

    function setCurrentMatch() {
        var matchID = $('#setCurrentMatchSelect').val();
        var postURL = `/api/overlay/current_match/${current_user_id}/`;
        var data = `{"current_match": ${matchID}, "current_map": ${null}, "current_atk_team": ${null}}`;

        console.log(`POST: ${postURL} => ${data}`);
        $.post(postURL, data)
        toastr.success("{% trans "The current match has been set to " %}" + matchID);
    }

    function setNextMatch() {
        var matchID = $('#setNextMatchSelect').val()
        var postURL = `/api/overlay/next_match/${current_user_id}/`;
        var data = `{"match": ${matchID}}`;

        console.log(`POST: ${postURL} => ${data}`);
        $.post(postURL, data)
        toastr.success("{% trans "The next match has been set to " %}" + matchID);
    }

</script>
