{% load i18n %}

<div class="row">

    <div class="col-lg-6">
        <div class="card card-success card-outline-all mb-3">
            <div class="card-body bg-gray-800 text-white">
                <h5 class="card-title card-title-upper">{% trans "Customize Overlay" %}</h5>
                <br>

                <div class="card-divider"></div>

                <div class="row">
                    <div class="col">
                        <label>{% trans "Default Styles" %}:</label>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-4 col-12">
                        <button class="btn btn-outline-success w-100" onclick="setStartStyle(this)"
                                data-style="start" data-value="default" data-active="false">
                            {% trans "Default" %} ({% trans "blue / orange" %})
                        </button>
                    </div>
                    <div class="col-lg-4 col-12">
                        <button class="btn btn-outline-success w-100" onclick="setStartStyle(this)"
                                data-style="start" data-value="light" data-active="false">
                            {% trans "Light" %}
                        </button>
                    </div>
                    <div class="col-lg-4 col-12">
                        <button class="btn btn-outline-success w-100" onclick="setStartStyle(this)"
                                data-style="start" data-value="dark" data-active="false">
                            {% trans "Dark" %}
                        </button>
                    </div>
                </div>

                <div class="card-divider mt-4"></div>

                <div class="row">
                    <div class="col">
                        <label>{% trans "Custom Styles" %}:</label>
                    </div>
                </div>

                <div class="row mb-2">
                    {% for l in leagues %}
                        {% if l.is_restricted and l.has_custom_overlay %}
                            {% for lg in league_groups %}
                                {% if lg.league == l and lg.user == user %}
                                    <div class="col-lg-4 col-12 mb-2">
                                        <button class="btn btn-outline-success w-100" onclick="setStartStyle(this)"
                                                data-style="start" data-value="{{ l.name|lower }}" data-active="false">
                                            {{ l.name }}
                                        </button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="card-divider mt-4"></div>

                <div class="row">
                    <div class="col-12">
                        <span>
                            <i class="fas fa-info-circle"></i> <b>{% trans "Quick Info" %}</b>
                        </span>
                    </div>
                    <div class="col-12 mt-2">
                        <i>
                            {% trans "The default overlay styles are available to all users" %}.<br>
                            {% trans "Custom Styles are available for specific leagues or tournaments, which you can only use if you have been granted access to it" %}.
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card card-danger card-outline-all mb-3">
            <div class="card-body bg-gray-800 text-white">
                <h5 class="card-title card-title-upper">{% trans "Preview & Links" %}</h5>
                <br>

                <div class="card-divider"></div>

                <div class="row">
                    <div class="col">
                        <a href="/overlays/{{ user }}/start" target="_blank">
                            <img id="start-screenshot" class="w-100 h-auto"
                                 src="/static/img/screenshots/start-default.png">
                        </a>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col">
                        <a id="start-drag-btn" class="btn btn-danger btn-drag w-100"
                           href="/overlays/{{ user }}/start?layer-name=Start Overlay&layer-width=1920&layer-height=1080">
                            {% trans "Drag this button to OBS" %}
                        </a>
                    </div>
                </div>

                <div class="card-divider mt-4"></div>

                <div class="row">
                    <div class="col-12">
                        <span>
                            <i class="fas fa-info-circle"></i> <b>{% trans "Quick Info" %}</b>
                        </span>
                    </div>
                    <div class="col-12 mt-2">
                        <i>
                            {% trans "If you use OBS (Version 25 or greater) you can drag the red button to the preview window in OBS to easily import the overlay" %}.
                            {% trans "This feature is untested with Streamlabs OBS however" %}.
                        </i>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>