{% load i18n %}

<script>

    $(document).ready(function () {
        // Load current overlay data
        $.getJSON("/api/overlay/overlay_style/{{ user.id }}", function (data) {
            let current_style = data['ingame_style'];
            let selected_elem = $(`[data-style="ingame"][data-value="${current_style}"]`);
            selected_elem.removeClass("btn-outline-success");
            selected_elem.addClass("btn-success");

            $('#ingame-screenshot').attr("src", `/static/img/screenshots/ingame-${current_style}.png`);
        });

    });

    function setIngameStyle(elem) {
        // Set new theme
        elem = $(elem);
        let new_theme = elem.attr("data-value");

        let post_url = "/api/overlay/overlay_style/{{ user.id }}";
        let data = `{"ingame_style": "${new_theme}"}`;

        console.log("POST: " + post_url + " => " + data);

        $.post(post_url, data)
            .fail(function () {
                toastr.error("{% trans "Overlay Style update failed" %}. {% trans "Please try again or contact an administrator" %}!", "{% trans "Error" %}");
            })
            .done(function () {
                toastr.success("{% trans "Overlay Style updated" %}.", "{% trans "Success" %}")
                updateIngameElements(elem, new_theme);
            });
    }

    function updateIngameElements(elem, new_theme) {
        let all_elements = $('[data-style="ingame"]');
        $('#ingame-screenshot').attr("src", `/static/img/screenshots/ingame-${new_theme}.png`);

        for (let i = 0; i < all_elements.length; i++) {
            let tmp_elem = $(all_elements[i])
            if (tmp_elem !== elem) {
                tmp_elem.removeClass("btn-success");
                tmp_elem.addClass("btn-outline-success");
                tmp_elem.attr("data-active", "false");
            }
        }

        elem.removeClass("btn-outline-success");
        elem.addClass("btn-success");
        elem.attr("data-active", "true");
    }

</script>