aioredis==1.3.1
alabaster==0.7.12
argon2-cffi==20.1.0
asgiref==3.3.1
async-timeout==3.0.1
attrs==20.3.0
autobahn==20.7.1
Automat==20.2.0
Babel==2.9.0
certifi==2020.11.8
cffi==1.14.4
channels==3.0.3
channels-redis==3.2.0
chardet==3.0.4
colorama==0.4.4
constantly==15.1.0
cryptography==3.2.1
daphne==3.0.1
Django==3.1.3
django-cors-headers==3.5.0
django-environ~=0.4.5
django-filter==2.4.0
django-widget-tweaks==1.4.8
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
docutils==0.16
git-changelog==0.4.0
hiredis==1.1.0
hyperlink==20.0.1
idna==2.10
imagesize==1.2.0
incremental==17.5.0
Jinja2==2.11.2
Mako==1.1.3
Markdown==3.3.3
MarkupSafe==1.1.1
msgpack==1.0.0
packaging==20.4
Pillow==8.0.1
psycopg2==2.8.6
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.7.2
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
pytz==2020.4
requests==2.25.0
service-identity==18.1.0
six==1.15.0
snowballstemmer==2.0.0
sqlparse==0.4.1
Twisted==20.3.0
txaio==20.4.1
urllib3==1.26.2
zope.interface==5.2.0

pip~=20.3.3