{% load i18n %}

<script>

    let league_id = null;

    function loadLeagueDetails(elem) {
        // Get Data
        league_id = $(elem).attr("data-league-id");

        // League Details
        $.getJSON('/api/data/leagues/' + league_id, (data) => {
            let name = data['name'];
            let logo = data['league_logo'];

            // Update html elements
            $('#league_logo').attr("src", logo);
            $('#league_name').html(name);
            $('#league_id').html(league_id);
        });

        // League Users
        $.getJSON("/api/data/league_groups", (data) => {
            let league_users = "";

            for (let i = 0; i < data.length; i++) {
                if (data[i]['league'] == league_id) {
                    // Get Username
                    $.ajax({
                        url: '/api/users/' + data[i]['user'],
                        async: false,
                    }).done((user_data) => {
                        // Add to html
                        league_users += (user_data['username'] + " (" + data[i]['rank'] + ")<br>");
                    });
                }
            }

            if (league_users === "") league_users = "-";
            $('#league_users').html(league_users);
        });

        $.getJSON("/api/data/seasons", (data) => {
            let league_seasons = "";

            for (let i = 0; i < data.length; i++) {
                if (data[i]['league'] == league_id) {
                    league_seasons += (data[i]['name'] + "<br>");
                }
            }

            if (league_seasons === "") league_seasons = "-";
            $('#league_seasons').html(league_seasons);
        });

        $.getJSON("/api/data/sponsors", (data) => {
            let league_sponsors = "";

            for (let i = 0; i < data.length; i++) {
                if (data[i]['league'] == league_id) {
                    league_sponsors += (data[i]['name'] + "<br>");
                }
            }

            if (league_sponsors === "") league_sponsors = "-";
            $('#league_sponsors').html(league_sponsors);

        })


        // Set active btn elem
        $('[data-league-id]').removeClass("btn-primary");
        $('[data-league-id]').addClass("btn-outline-primary");
        $(elem).removeClass("btn-outline-primary");
        $(elem).addClass("btn-primary");

    }

</script>