.docker
.pytest_cache
.venv
.vscode
docs
htmlcov
logs
media/leagues
media/teams
static

.coverage
.coveragerc
.devcontainer.json
.env
.env.devcontainer
.env.example
.env.testing
.gitignore
.pylintrc
pytest.ini
dumb.rdb

__pycache__
*old*