{% load i18n %}
{% load static %}

<div class="modal fade" role="dialog" id="edit-team-modal">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

            <div class="modal-header bg-success">
                <h5 class="modal-title">{% trans "Edit a team" %}</h5>
            </div>

            <form id="edit-team-form" class="needs-validation" action=""
                  enctype="multipart/form-data" novalidate>

                {% csrf_token %}

                <input id="edit_team_id" name="id" type="text" hidden>
                <input id="edit_team_name" name="name" type="text" hidden>

                <div class="modal-body bg-dark">

                    <div class="form-group row">
                        <div class="input-group">
                            <label for="edit_logo_file"
                                   class="col-sm-4 col-form-label">{% trans "Team Logo File" %}</label>
                            <div class="col-sm-8">
                                <input id="edit_logo_file" name="team_logo" class="mt-1" type="file"
                                       placeholder="{% trans "Select a file to upload" %}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="input-group">
                            <label for="edit_logo_url"
                                   class="col-sm-4 col-form-label">{% trans "Team Logo URL" %}</label>
                            <div class="col-sm-8">
                                <input id="edit_logo_url" name="team_logo_url" class="form-control" type="url"
                                       placeholder="{% trans "Paste an image link" %}">
                            </div>
                        </div>
                    </div>

                    <hr style="border-top: 1px solid #fff">

                    <div class="row">
                        <div class="col-12">
                            <span><i class="far fa-question-circle"></i> <b>{% trans "Quick Help" %}</b></span>
                        </div>
                        <div class="col-12 mt-2">
                            <i>
                                {% trans "Set a new logo by either uploading one or pasting in a link to the logo file" %}.<br>
                                {% trans "You can also delete the current logo by not setting a new image" %}.<br>
                            </i>
                        </div>
                    </div>

                </div>

                <div class="modal-footer justify-content-between bg-gray-800">
                    <button class="btn btn-secondary" data-dismiss="modal">
                        {% trans "Cancel" %}
                    </button>
                    <button class="btn btn-success" type="submit">
                        {% trans "Edit team" %}
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>

{% include 'base/form-validation.html' %}
{% include 'base/loading-modal.html' with modal_id="edit-team-loading-modal" title=_('Editing Team') %}

<script>
    $('#edit-team-form').submit((event) => {

        let form = $('#edit-team-form')[0];
        let formData = new FormData(form);
        let teamID = $('#edit_team_id').val()

        event.preventDefault();

        // Form Validation
        if (form.checkValidity() === false) {
            return;
        }
        form.classList.add('was-validated');

        // Show loading modal
        $('#edit-team-modal').modal('hide');
        $('#edit-team-loading-modal').modal('show');

        let $csrf_token = $('[name="csrfmiddlewaretoken"]').attr('value');

        // Send data to API
        $.ajax({
            url: '/api/data/teams/' + teamID + '/',
            data: formData,
            headers: {"X-CSRFToken": $csrf_token},
            type: 'PATCH',
            contentType: false,
            processData: false

        }).fail((data) => {
            console.log(data);
            if (data.status === 500)
                toastr.error("{% trans "Team could not be updated" %}: {% trans "Internal Server Error" %} - {% trans "Please try again or contact an administrator" %}!", "{% trans "Error" %}");
            else if (data.status === 400)
                toastr.error("{% trans "Team could not be updated" %}: " + data['responseJSON']['error'], "{% trans "Error" %}");

        }).done((data) => {
            console.log(data);
            toastr.success("{% trans "The team has been updated" %}.", "{% trans "Success" %}");

        }).always(() => {
            setTimeout(function () {
                $('#edit-team-loading-modal').modal('hide');
                refresh();
            }, 500);

        });
    });
</script>
