{% load i18n %}
{% load static %}

<div id="new_team_modal_app">

    <modal modal_id="new_team_modal" title="{% trans "Add a new team" %}" header_bg="success">
        <form id="new-team-form" class="needs-validation"
              enctype="multipart/form-data" method="post" action=""
              novalidate>
            {% csrf_token %}

            <div class="form-group row">
                <div class="input-group">
                    <label for="team_name"
                           class="col-sm-4 col-form-label">{% trans "Team Name" %}</label>
                    <div class="col-sm-8">
                        <input v-model="team_name" id="team_name" name="name" class="form-control" type="text"
                               maxlength="22" required
                               placeholder="{% trans "Enter a Team Name" %}">
                        <div class="invalid-feedback">{% trans "Please enter a team name" %}!</div>
                    </div>
                </div>
            </div>

            <hr style="border-top: 1px solid #fff">

            <div class="form-group row">
                <div class="input-group">
                    <label for="logo_file"
                           class="col-sm-4 col-form-label">{% trans "Team Logo File" %}</label>
                    <div class="col-sm-8">
                        <input id="logo_file" name="team_logo" class="mt-1" type="file" @change="onLogoAdded"
                               placeholder="{% trans "Select a file to upload" %}">
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="input-group">
                    <label for="logo_url"
                           class="col-sm-4 col-form-label">{% trans "Team Logo URL" %}</label>
                    <div class="col-sm-8">
                        <input v-model="team_logo_url" id="logo_url" name="team_logo_url" class="form-control"
                               type="url"
                               placeholder="{% trans "Paste an image link" %}">
                    </div>
                </div>
            </div>

            <hr style="border-top: 1px solid #fff">

            <div class="row">
                <div class="col-12">
                    <span><i class="far fa-question-circle"></i> <b>{% trans "Quick Help" %}</b></span>
                </div>
                <div class="col-12 mt-2">
                    <i>
                        {% trans "1. Enter a team name" %}.<br>
                        {% trans "2. Add a logo by either uploading one or pasting in a link to the logo file" %}.<br>
                        {% trans "If the team has no logo you can leave both fields blank" %}.<br>
                    </i>
                </div>
            </div>
        </form>

        <hr style="border-top: 1px solid #fff">

        <div class="row justify-content-between bg-gray-800">
            <button class="btn btn-secondary ml-2" data-dismiss="modal">
                {% trans "Cancel" %}
            </button>
            <button class="btn btn-success mr-2" @click="sendNewTeamForm">
                {% trans "Add a new team" %}
            </button>
        </div>


    </modal>

</div>

{% include 'base/form-validation.html' %}

<!-- Page JS -->
<script>
    const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;

    function sendTeamForm() {
        let form = $('#new-team-form')[0];
        let formData = new FormData(form);

        // Form Validation
        if (form.checkValidity() === false) {
            return;
        }
        form.classList.add('was-validated');

    }
</script>


<!-- Vue JS -->
<script type="module">
    import {Modal} from "{% get_static_prefix %}vue/layout/modal.mjs";
    import {StatusOverlay} from "{% get_static_prefix %}vue/layout/status-overlay.mjs";

    const newTeamModalApp = Vue.createApp({
        data() {
            return {
                team_name: "",
                team_logo_file: null,
                team_logo_url: "",
            }
        },
        methods: {
            onLogoAdded(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                console.log(files[0]);
                this.team_logo_file = files[0];
            },
            sendNewTeamForm() {
                console.log("Sending form...");
                sendTeamForm();
            }
        }
    });
    newTeamModalApp.component('modal', Modal);
    newTeamModalApp.component('statusoverlay', StatusOverlay);
    newTeamModalApp.mount("#new_team_modal_app");
</script>



