{% load i18n %}
{% load static %}

<div class="modal fade" role="dialog" id="new-team-modal">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

            <div class="modal-header bg-success">
                <h5 class="modal-title">{% trans "Add a new team" %}</h5>
            </div>

            <form id="new-team-form" class="needs-validation" action="/dashboard/data/teams/new"
                  enctype="multipart/form-data" method="post"
                  novalidate>
                {% csrf_token %}

                <div class="modal-body bg-dark">

                    <div class="form-group row">
                        <div class="input-group">
                            <label for="team_name"
                                   class="col-sm-4 col-form-label">{% trans "Team Name" %}</label>
                            <div class="col-sm-8">
                                <input id="team_name" name="team_name" class="form-control" type="text"
                                       maxlength="22" required
                                       placeholder="{% trans "Enter a Team Name" %}">
                                <div class="invalid-feedback">{% trans "Please enter a team name" %}!</div>
                            </div>
                        </div>
                    </div>

                    <hr style="border-top: 1px solid #fff">

                    <div class="form-group row">
                        <div class="input-group">
                            <label for="logo_file"
                                   class="col-sm-4 col-form-label">{% trans "Team Logo File" %}</label>
                            <div class="col-sm-8">
                                <input id="logo_file" name="logo_file" class="mt-1" type="file"
                                       placeholder="{% trans "Select a file to upload" %}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="input-group">
                            <label for="logo_url"
                                   class="col-sm-4 col-form-label">{% trans "Team Logo URL" %}</label>
                            <div class="col-sm-8">
                                <input id="logo_url" name="logo_url" class="form-control" type="url"
                                       placeholder="{% trans "Paste an image link" %}">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="input-group">
                            <div class="col-sm-4">
                                <label>{% trans "No Logo" %}</label>
                            </div>
                            <div class="col-sm-8 custom-control custom-checkbox">
                                <input id="no_logo" name="no_logo" class="custom-control-input"
                                       type="checkbox">
                                <label for="no_logo"
                                       class="custom-control-label ml-2">{% trans "Team has no logo" %}</label>
                            </div>
                        </div>
                    </div>

                    <hr style="border-top: 1px solid #fff">

                    <div class="row">
                        <div class="col-12">
                            <span><i class="far fa-question-circle"></i> <b>{% trans "Quick Help" %}</b></span>
                        </div>
                        <div class="col-12 mt-2">
                            <i>
                                {% trans "1. Enter a team name" %}<br>
                                {% trans "2. Add a logo by either uploading one, pasting in a link to the logo or checking the 'Team has no logo' checkbox if the team does not has a logo." %}
                            </i>
                        </div>
                    </div>

                </div>

                <div class="modal-footer justify-content-between bg-gray-800">
                    <button class="btn btn-secondary" data-dismiss="modal">
                        {% trans "Cancel" %}
                    </button>
                    <button class="btn btn-success" type="submit">
                        {% trans "Add a new team" %}
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>

{% include 'base/form-validation.html' %}
{% include 'base/loading-modal.html' with  modal_id="add-team-loading-modal" title=_('Adding Team') %}

<script>
    $('#new-team-form').submit(function () {
        // Loading modal
        $('#new-team-modal').modal('hide');
        $('#add-team-loading-modal').modal('show');
    });
</script>
