{% extends "base/base.html" %}

{% load i18n %}
{% load static %}

{% block head %}
    {% include "base/head.html" with page_title="Teams" %}
{% endblock %}

{% block sidebar %}
    {% include "base/sidebar.html" with active_page="teams" %}
{% endblock %}


{% block page_title_icon %}
    <i class="fas fa-2x fa-users"></i>
{% endblock %}

{% block page_title_text %}
    {% trans "Teams" %}
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active"><a href="/">{% trans "Data" %}</a></LI>
    <li class="breadcrumb-item active">{% trans "Teams" %}</li>
{% endblock %}


{% block content %}

    <div id="team-app" class="text-white">

        <div class="overlay-wrapper">

            <!-- Show content once team data is loaded -->
            <template v-if="team_data_loaded === 1">

                <card color="primary" outline footer title="{% trans "You have access to the following teams" %}:">

                    <template #card-body>
                        <div class="table-responsive" style="height: 400px;">
                            <table class="table table-sm table-head-fixed text-nowrap">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>{% trans "Team" %}</th>
                                    <th>{% trans "Logo" %}</th>
                                    <th>{% trans "Edit Team" %}</th>
                                </tr>
                                </thead>

                                {% verbatim %}
                                <tbody id="team_list_tbody">
                                <tr v-for="team in team_data" :key="team.id">
                                    <td>{{ team.id }}</td>
                                    <td>{{ team.name }}</td>
                                    <td>
                                        <img :src="team.team_logo_small" alt="-" style="height: 30px; width: 30px;">
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-warning" :data-teamid="team.id"
                                                :data-teamname="team.name"
                                                onclick="editTeam(this)">{{ tl.change_logo_text }}
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                                {% endverbatim %}

                            </table>
                        </div>
                    </template>

                    <template #card-footer>
                        <div class="row justify-content-center">
                            <button type="button" class="btn btn-success pl-4 pr-4" data-toggle="modal"
                                    data-target="#new_team_modal">
                                {% trans "Add a new team" %}
                            </button>
                        </div>
                    </template>

                </card>
            </template>

            <!-- Loading overlay -->
            <template v-if="team_data_loaded === 0">
                <card color="secondary" outline title="{% trans "Loading" %}...">
                    <template #card-body>
                        <statusoverlay type="loading" text="{% trans "Loading team data" %}..."></statusoverlay>
                    </template>
                </card>
            </template>

            <!-- Error overlay -->
            <template v-if="team_data_loaded === -1">
                <card color="danger" outline title="{% trans "Error" %}">
                    <template #card-body>
                        <statusoverlay type="icon" icon="fas fa-exclamation-triangle fa-2x"
                                       text="{% trans "Loading team data failed" %}!"></statusoverlay>
                    </template>
                </card>
            </template>

        </div>
    </div>

    <!-- Page JS -->
    <script>
        const translations = {
            "change_logo_text": "{% trans "Change Logo" %}",
            "team_data_load_failed_text": "{% trans "Loading team data failed" %}!"
        };

        console.log(translations);

        function compareTeams(a, b) {
            if (a.name.toLowerCase() > b.name.toLowerCase()) return 1;
            if (a.name.toLowerCase() < b.name.toLowerCase()) return -1;
            return 0;
        }
    </script>

    <!-- Vue -->
    <script type="module">
        import {Card} from "{% get_static_prefix %}vue/layout/card.mjs";
        import {StatusOverlay} from "{% get_static_prefix %}vue/layout/status-overlay.mjs";

        const app = Vue.createApp({
            data() {
                return {
                    team_data: [],
                    team_data_loaded: 0,
                    tl: translations
                }
            },
            methods: {
                loadData() {
                    axios.get("/api/data/team/")
                        .then((response) => {
                            this.team_data = response.data.sort(compareTeams);
                            this.team_data_loaded = 1;
                            console.log("team data:");
                            console.log(this.team_data);
                        })
                        .catch((error) => {
                            console.log(error);
                            this.team_data_loaded = -1;
                        });

                }
            },
            created() {
                this.loadData();
            }
        });
        app.component('card', Card);
        app.component('statusoverlay', StatusOverlay);
        app.mount("#team-app");
    </script>

    {% include "data/new-team-modal-vue.html" %}

{% endblock %}