{% load i18n %}

<script>

    let team_list = $('#team_list_tbody');

    $(document).ready(function () {
        loadTeamData();
    });

    function refresh(){
        resetTeamList();
        loadTeamData();
    }

    function loadTeamData() {
        $.getJSON("/api/data/teams/", function (data) {
            data.sort(compareTeams);

            for (let i = 0; i < data.length; i++) {
                let team_id = data[i]['id'];
                let team_name = data[i]['name'];
                let team_logo = data[i]['team_logo'];

                let formatted_html = `
                <tr>
                    <td>${team_id}</td>
                    <td>${team_name}</td>
                    <td>
                        <img src="${team_logo}" alt="-" style="height: 30px; width: 30px;">
                    </td>
                    <td>
                        <button class="btn btn-sm btn-warning" data-teamid="${team_id}"
                                                onclick="editTeam(this)">{% trans "Change Logo" %}</button>
                    </td>
                </tr>
                `;

                team_list.append(formatted_html);
            }

        });
    }

    function resetTeamList() {
        team_list.html("");
    }

    function compareTeams(a, b) {
        if (a['name'] > b['name']) return 1;
        if (a['name'] < b['name']) return -1;
        return 0;
    }


    function editTeam(elem) {
        changeTeamID = $(elem).attr("data-teamid");
        $("#edit_team_id").attr("value", changeTeamID);
        $('#edit-team-modal').modal('show');
    }

</script>