.navbar-menu-icon {
  margin-top: -0.2rem;
  margin-right: 0.2rem;
  height: 1rem;
}

.section-header-icon {
  margin-top: -0.4rem;
  margin-right: 0.2rem;
  height: 1.6rem;
}

.form-icon {
  height: 1rem;
}