{% extends "base/base.html" %}

{% load i18n %}

{% block head %}
    {% include "base/head.html" with page_title="Match Details" %}

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <style>
        div.map-container > .map-img {
            border: 2px solid #111;
            border-radius: 5px;
            box-shadow: 0 0 2px 0 #111;
            filter: grayscale(0);
        }

        div.map-container.ban > .map-img {
            border: 2px solid red;
            border-radius: 5px;
            box-shadow: 0 0 2px 0 red;
            filter: grayscale(0.5) brightness(0.4);
        }

        div.map-container.pick > .map-img {
            border: 2px solid green;
            border-radius: 5px;
            box-shadow: 0 0 2px 0 green;
        }
    </style>
{% endblock %}

{% block sidebar %}
    {% include "base/sidebar.html" with active_page="match_overview" %}
{% endblock %}


{% block page_title_icon %}
    <i class="fas fa-2x fa-gamepad"></i>
{% endblock %}

{% block page_title_text %}
    {% trans "Match Details" %}
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">{% trans "Matches" %}</li>
    <li class="breadcrumb-item active">{{ match.id }}</li>
    <li class="breadcrumb-item active">{% trans "Details" %}</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">

            <div class="card card-primary card-outline-all mb-3">
                <div class="card-body bg-gray-800 text-white">

                    <h5 class="card-title card-title-upper">{% trans "Map Picks & Bans" %}:</h5><br>
                    <div class="card-divider"></div>


                    {% if not map_bans %}
                        <div class="row">
                            <div class="col-12">
                                <span><i>{% trans "Nothing here yet" %}.</i></span>
                            </div>
                        </div>
                    {% else %}

                        <div class="d-flex">
                            {% for mb in map_bans %}
                                <div class="container">

                                    <div class="map-container
                                    {% if mb.type == 1 or mb.type == 4 %}
                                        ban
                                    {% elif mb.type == 2 or mb.type == 3 %}
                                        pick
                                    {% endif %}">
                                        <img src="/static/img/maps/{{ mb.map.id }}.webp" class="map-img w-100 mb-1">
                                    </div>
                                    <div class="text-center mt-2">
                                        <span>{{ mb.map }}</span><br>
                                        {% if mb.type == 1 or mb.type == 4 %}
                                            <div class="badge badge-pill badge-danger">{{ mb.get_type_display }}</div>
                                        {% elif mb.type == 2 or mb.type == 3 %}
                                            <div class="badge badge-pill badge-success">{{ mb.get_type_display }}</div>
                                        {% else %}
                                            <div class="badge badge-pill badge-secondary">{% trans "Not selected yet" %}</div>
                                        {% endif %}
                                        <br>
                                        <i>{{ mb.team }}</i>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>

                    {% endif %}

                </div>
            </div>

        </div>
    </div>

    <div class="row">
        {% for mb in map_bans %}

            {% if mb.type == 2 or mb.type == 3 %}

                <div class="col-12">

                    <div class="card card-secondary card-outline-all mb-3">
                        <div class="card-body bg-gray-800 text-white">

                            <h5 class="card-title card-title-upper">{% trans "Map " %}{{ mb.play_order }}
                                - {{ mb.map }}</h5>
                            <br>
                            <div class="card-divider"></div>

                            <div class="row">


                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12 mb-2">
                                            <span><b>{% trans "Operator Bans" %}:</b></span>
                                        </div>

                                        {% for opban in operator_bans %}
                                            {% if opban.map == mb.map %}
                                                <div class="col-3 text-center">
                                                    <img src="/static/img/operators/{{ opban.operator.id }}.svg" alt="-"
                                                         style="height: 40px"><br>
                                                    <span id="ban1_text">{{ opban.operator }}</span><br>
                                                    <i id="ban1_team">{{ opban.team }}</i>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>


                                <div class="col-6">
                                    <div class="row">

                                        <div class="col-12 mb-2">
                                            <span><b>{% trans "Statistics" %}:</b></span>
                                            <br><i>{% trans "Work In Progress" %}</i>
                                        </div>

                                        <!-- ToDo: Add Statistics
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label>{% trans "ATK / DEF Wins" %}</label>
                                                    <div id="sideWinChart"></div>
                                                </div>
                                                <div class="col-6">
                                                    <label>{% trans "Opening Frags" %}</label>
                                                    <div id="openingFragChart"></div>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-6">
                                                    <label>{% trans "Wins By Type" %}</label>
                                                    <div id="typeWinChart"></div>
                                                </div>
                                                <div class="col-6">
                                                    <label>{% trans "BombSpot Pick Rates" %}</label>
                                                    <div id="bombSpotPickChart"></div>
                                                </div>
                                            </div>
                                        </div>
                                        -->

                                    </div>
                                </div>

                            </div>

                            <div class="card-divider mt-4"></div>

                            <div class="row">

                                <div class="col-12 mb-2">
                                    <span><b>{% trans "Rounds" %}:</b></span>
                                </div>

                                <div class="col-12">
                                    <table class="table table-sm table-head-fixed text-nowrap mt-2">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">{% trans "Bomb Spot" %}</th>
                                            <th scope="col">{% trans "Win Type" %}</th>
                                            <th scope="col">{% trans "Win Team" %}</th>
                                            <th scope="col">{% trans "Opening Frag" %}</th>
                                            <th scope="col">{% trans "Score" %}</th>
                                            <th scope="col">{% trans "Notes" %}</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for r in rounds %}
                                            {% if r.map == mb.map %}
                                                <tr>
                                                    <th scope="row">{{ r.round_no }}</th>
                                                    <td>{{ r.bombspot.floor }} - {{ r.bombspot.bomb_spot }}</td>
                                                    <td>{% trans r.win_type.name %}</td>
                                                    <td>{{ r.win_team }}</td>
                                                    <td>{{ r.of_team }}</td>
                                                    <td>{{ r.score_blue }} - {{ r.score_orange }}</td>
                                                    <td>
                                                        {% if r.notes %}
                                                            {{ r.notes|linebreaksbr }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>

                                    </table>
                                </div>
                            </div>

                            <div class="card-divider mt-3"></div>

                        </div>
                    </div>
                </div>

            {% endif %}

        {% endfor %}
    </div>

{% endblock %}

