{% load i18n %}
{% csrf_token %}

<script>
    const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;

    let ban_data;
    let order = 1;
    let nextMap = null;

    $(document).ready(() => {
        update();
    });

    function changeMapPool(elem) {
        let pool = $(elem).val();

        if (pool === "competetive") {
            $('#map1_container').addClass("d-none");
            $('#map1_divider').addClass("d-none");
            $('#map2_container').addClass("d-none");
            $('#map2_divider').addClass("d-none");
        } else if (pool === "all") {
            $('#map1_container').removeClass("d-none");
            $('#map1_divider').removeClass("d-none");
            $('#map2_container').removeClass("d-none");
            $('#map2_divider').removeClass("d-none");
        }
    }

    function update() {
        // Set all badges to default
        for (let i = 1; i <= 9; i++) {
            let badge = $(`#map_${i}_badge`);
            badge.removeClass("badge-danger badge-success");
            badge.addClass("badge-primary");
            badge.html("{% trans "Not selected yet" %}");

            let badgeTeamText = $(`#map_${i}_team`);
            badgeTeamText.html("");
        }

        // Set log to default
        $('#no_log').removeClass("d-none");
        $('#log').addClass("d-none");

        $.getJSON("/api/match/{{ match.id }}/maps/")
            .done((data) => {
                    if (data.length === 0) return;
                    ban_data = data;

                    let log = $('#log');
                    let log_content = "";

                    for (let i = 0; i < data.length; i++) {
                        let elem = data[i]

                        // Add log entries
                        elem.order < 7
                            ? log_content += `<li class="text-bold">${elem.order} / ${elem.type_name} / ${elem.map_name} / ${elem.team_name}</li>`
                            : log_content += `<li class="text-bold">${elem.order} / ${elem.type_name} / ${elem.map_name}</li>`

                        // Set UI elements
                        let badge = $(`#map_${elem.map}_badge`);
                        let map_img = $(`#map${elem.map}_img`);
                        let map_team = $(`#map_${elem.map}_team`);

                        badge.html(elem.order + " / " + elem.type_name);
                        badge.removeClass("badge-primary");

                        if (elem.type === 1 || elem.type === 4) {  // type 1 => ban / type 4 => default ban
                            badge.addClass("badge-danger");
                            map_img.addClass("ban");
                            map_team.html(elem.team_name);

                        } else if (elem.type === 2 || elem.type === 3) {  // type 2 => pick / type 3 => decider
                            badge.addClass("badge-success");
                            map_img.addClass("pick");
                            map_team.html(elem.team_name);
                        }

                        if (elem.play_order === 1 && elem.status <= 2) {
                            $('#continue_btn').attr("href", "/dashboard/matches/{{ match.id }}/map/" + elem.map + "/opbans");
                        }

                    }

                    order = data.length + 1;

                    // Update log
                    log.html(log_content);
                    $('#no_log').addClass("d-none");
                    log.removeClass("d-none");
                }
            )
            .fail((data) => {
                // 404 => No data
                if (data.status === 404) {
                    // Set select to default
                    $('#map_pool_select').removeAttr("disabled");

                    // Reset order and next team
                    order = 1;
                }
            });
    }

    function addMap(id, type, team) {
        let matchID = {{ match.id }};
        let postURL = `/api/match/maps/`;
        let postData = null;
        let typeID = null;

        if (order < 7) {
            if (type === "ban") {
                typeID = 1
            } else if (type === "pick") {
                typeID = 2
            }
        } else if (order === 7) {
            if (type === "ban") {
                typeID = 4
            } else if (type === "pick") {
                typeID = 3
            }
        }

        if (order < 7) {
            postData = {"match": matchID, "map": id, "type": typeID, "team": team}
        } else {
            postData = {"match": matchID, "map": id, "type": typeID}
        }

        console.log(`POST: ${postURL} => ${JSON.stringify(postData)}`);
        $.ajax({
            type: "POST",
            headers: {"X-CSRFToken": csrf_token},
            mode: 'same-origin',
            url: postURL,
            data: postData,
        }).fail((data) => {
            console.log(data)
            toastr.error("{% trans "Failed to add map" %}. {% trans "Please try again or contact an administrator" %}!", "{% trans "Error" %}");
        }).done(() => {
            toastr.success("{% trans "Map added" %}.", "{% trans "Success" %}");
            update();
        });
    }

    function resetMap() {
        let lastMapID = ban_data[ban_data.length - 1].id;
        let deleteURL = "/api/match/maps/" + lastMapID + "/";

        console.log(`DELETE: ${deleteURL}`);
        $.ajax({
            type: "DELETE",
            headers: {"X-CSRFToken": csrf_token},
            mode: 'same-origin',
            url: deleteURL,
        }).fail((data) => {
            console.log(data)
            toastr.error("{% trans "Failed to reset map" %}. {% trans "Please try again or contact an administrator" %}!", "{% trans "Error" %}");
        }).done(() => {
            update();
            toastr.success("{% trans "Map reset" %}.", "{% trans "Success" %}");
        });
    }

    function resetAllMaps() {
        for (let i = 0; i < ban_data.length; i++) {
            let deleteURL = "/api/match/maps/" + ban_data[i].id + "/";

            console.log(`DELETE: ${deleteURL}`);
            $.ajax({
                type: "DELETE",
                headers: {"X-CSRFToken": csrf_token},
                mode: 'same-origin',
                url: deleteURL,
            }).fail((data) => {
                console.log(data)
                toastr.error("{% trans "Failed to reset map" %}. {% trans "Please try again or contact an administrator" %}!", "{% trans "Error" %}");
            });
        }

        setTimeout(() => {
            // Reset continue btn
            let continue_btn = $('#continue_btn');
            continue_btn.removeAttr("href");
            continue_btn.attr("data-nextmap", "0");

            update();
            $('#reset-map-confirm-modal').modal('hide');
            toastr.success("{% trans "All maps have been reset" %}.", "{% trans "Success" %}");
        }, 200)
    }

</script>