{% load i18n %}
{% csrf_token %}

<script>

    const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;

    let next_ban_order = 0;
    let atk_team = 0;
    let def_team = 0;

    $(document).ready(function () {
        next_ban_order = {{ operator_bans|length }} +1;
        {% if current_match_map.atk_team is not None %}
            atk_team = {{ current_match_map.atk_team.id }};
        {% else %}
            atk_team = null;
        {% endif %}
        {% if current_match_map.atk_team == match.team_blue %}
            def_team = {{ match.team_orange.id }};
        {% else %}
            def_team = {{ match.team_blue.id }}
        {% endif %}

    // Set active buttons
    {% for op in operator_bans %}
        $('#ban_{{ op.operator.id }}_btn').removeClass("btn-secondary");
        $('#ban_{{ op.operator.id }}_btn').addClass("btn-danger");
        $('#ban_{{ op.operator.id }}_btn').append(" ({{ op.order }})");
    {% endfor %}

        // ATK Ops Search
        $("#atk_ops_search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#atk_ops_container .col-6").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        // DEF Ops Search
        $("#def_ops_search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#def_ops_container .col-6").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function setATKTeam(elem) {
        let matchMapID = {{ current_match_map.id }};
        let matchID = {{ current_match_map.match.id }};
        let mapID = {{ current_match_map.map.id }};
        let type = {{ current_match_map.type }};
        let postURL = `/api/matches/maps/${matchMapID}/`;
        let atk_team = $(elem).attr("data-value");
        let postData = {"type": type, "match": matchID, "map": mapID, "atk_team": atk_team};

        console.log(`POST: ${postURL} => ` + JSON.stringify(postData));
        $.ajax({
            type: "PUT",
            headers: {"X-CSRFToken": csrf_token},
            mode: 'same-origin',
            url: postURL,
            data: postData,
        }).fail((data) => {
            console.log(data)
            toastr.error("{% trans "Failed to setup ATK team" %}. {% trans "Please try again or contact an administrator" %}!", "{% trans "Error" %}");
        }).done(() => {
            location.reload();
        });
    }

    function setOTATKTeam(elem) {
        let matchMapID = {{ current_match_map.id }};
        let matchID = {{ current_match_map.match.id }};
        let mapID = {{ current_match_map.map.id }};
        let type = {{ current_match_map.type }};
        let postURL = `/api/matches/maps/${matchMapID}/`;
        let ot_atk_team = $(elem).attr("data-value");
        let postData = {"type": type, "match": matchID, "map": mapID, "ot_atk_team": ot_atk_team};

        console.log(`POST: ${postURL} => ` + JSON.stringify(postData));
        $.ajax({
            type: "PUT",
            headers: {"X-CSRFToken": csrf_token},
            mode: 'same-origin',
            url: postURL,
            data: postData,
        }).fail((data) => {
            console.log(data)
            toastr.error("{% trans "Failed to setup OT ATK team" %}. {% trans "Please try again or contact an administrator" %}!", "{% trans "Error" %}");
        }).done(() => {
            location.reload();
        });
    }

    function swapTeams() {
        let matchID = "{{ match.id }}";
        let postURL = `/api/matches/swap_teams/${matchID}/`;
        let data = "{}";

        console.log(`POST: ${postURL} => ${data}`);
        $.post(postURL, data).always(function () {
            location.reload();
        });
    }

    function banOperator(elem) {
        let matchID = "{{ match.id }}";
        let mapID = "{{ map.id }}";
        let postURL = `/api/matches/operator_bans/${matchID}/${mapID}/`;
        let operator = $(elem).attr("data-value");
        let data = null;

        // Abort if there are already 4 Operator Bans
        if (next_ban_order > 4) return;

        if (next_ban_order === 1 || next_ban_order === 4) {
            data = `{"operator": ${operator}, "team": ${atk_team}}`
        } else {
            data = `{"operator": ${operator}, "team": ${def_team}}`
        }

        console.log(`POST: ${postURL} => ${data}`);
        $.post(postURL, data).always(function () {
            location.reload();
        });
    }

    function resetOperatorBan(all) {
        let matchID = "{{ match.id }}";
        let mapID = "{{ map.id }}";
        let postURL = `/api/matches/operator_bans/${matchID}/${mapID}/`;
        let data = `{"reset": "${all}"}`;

        console.log(`POST: ${postURL} => ${data}`);
        $.post(postURL, data).always(function () {
            location.reload();
        });
    }


</script>