{% load i18n %}

<script>

    let map_id = {{ map.id }};
    let team_blue = {{ match.team_blue.id }};
    let team_orange = {{ match.team_orange.id }}

        $(document).ready(() => {
            createCharts();
            update();
        });

    function update() {
        $.getJSON('/api/matches/rounds/{{ match.id }}/{{ map.id }}/', (data) => {
                // Sort data
                let defWins = 0;
                let atkWins = 0;

                let ofBlue = 0;
                let ofOrange = 0;

                let winType1 = 0;
                let winType2 = 0;
                let winType3 = 0;
                let winType4 = 0;

                let bombSpots = [];
                let bombSpotStats = [];

                $.ajax({
                    type: 'GET',
                    url: '/api/bombspots/',
                    dataType: 'json',
                    success: function (data) {
                        for (let i = 0; i < data.length; i++) {
                            if (data[i]['map'] === map_id) bombSpots.push(data[i]);
                        }
                    },
                    async: false
                });

                for (let i = 0; i < data.length; i++) {
                    (data[i]['win_team'] === data[i]['def_team'])
                        ? defWins++
                        : atkWins++;

                    (team_blue === data[i]['of_team'])
                        ? ofBlue++
                        : ofOrange++;

                    if (data[i]["win_type"] === 1) winType1++;
                    if (data[i]["win_type"] === 2) winType2++;
                    if (data[i]["win_type"] === 3) winType3++;
                    if (data[i]["win_type"] === 4) winType4++;


                    for (let j = 0; j < bombSpots.length; j++) {
                        if (data[i]["bombspot"] === bombSpots[j]['id']) {
                            let id = bombSpots[j]['id'];
                            let name = bombSpots[j]['floor'] + " - " + bombSpots[j]['bomb_spot'];
                            if (bombSpotStats[j] != null && bombSpotStats[j]['id'] === bombSpots[j]['id']) {
                                bombSpotStats[j]['count'] = bombSpotStats[j]['count'] + 1;
                            } else {
                                bombSpotStats.push({"id": id, "name": name, "count": 1});
                            }
                        }
                    }
                }

                let bombSpotChartDataKeys = []
                let bombSpotChartDataValues = []
                for (let i = 0; i < bombSpotStats.length; i++) {
                    bombSpotChartDataKeys.push(bombSpotStats[i]['name']);
                    bombSpotChartDataValues.push(bombSpotStats[i]['count']);
                }

                console.log(bombSpotStats);

                updateChartData(sideWinChart, [atkWins, defWins], ["{% trans "ATK Wins" %}", "{% trans "DEF Wins" %}"], ['#0870d3', '#ea7516']);
                updateChartData(openingFragChart, [ofBlue, ofOrange], ["{{ match.team_blue }}", "{{ match.team_orange }}"], ['#0870d3', '#ea7516']);
                updateChartData(typeWinChart, [winType1, winType2, winType3, winType4], ["{% trans "Kills" %}", "{% trans "Defuser Planted" %}", "{% trans "Counter Defused" %}", "{% trans "Time" %}"]);
                updateChartData(bombSpotPickChart, bombSpotChartDataValues, bombSpotChartDataKeys);
            }
        );
    }

    function addRound() {
        let matchID = "{{ match.id }}";
        let mapID = "{{ map.id }}";
        let bomb_spot = $('#bomb_spot_select').val();
        let win_type = $('#win_type_select').val();

        if (bomb_spot === "" || win_type === "") {
            toastr.error("{% trans "Please select a bomb spot and a win type first to add a round" %}!");
            return;
        }

        let win_team = null;
        ($('#win_team_blue_btn').attr("data-state") === "active")
            ? win_team = $('#win_team_blue_btn').attr("data-value")
            : win_team = $('#win_team_orange_btn').attr("data-value")

        let of_team = null;
        ($('#of_team_blue_btn').attr("data-state") === "active")
            ? of_team = $('#of_team_blue_btn').attr("data-value")
            : of_team = $('#of_team_orange_btn').attr("data-value")

        let notes = $('#round_notes').val();
        notes = notes.split("\n").join("\\n");

        let data = `{"bombspot": ${bomb_spot}, "win_type": ${win_type}, "win_team": ${win_team}, "of_team": ${of_team}, "notes": "${notes}" }`
        let postURL = `/api/matches/rounds/${matchID}/${mapID}/`;

        console.log(`POST: ${postURL} => ${data}`);

        $.post(postURL, data).always(function () {
            location.reload();
        });
    }

    function removeLastRound() {
        let matchID = "{{ match.id }}";
        let mapID = "{{ map.id }}";
        let data = `{"reset": "single"}`;

        let postURL = `/api/matches/rounds/${matchID}/${mapID}/`;

        console.log(`POST: ${postURL} => ${data}`);
        $.post(postURL, data).always(function () {
            location.reload();
        });
    }

    function setWinTeam(elem) {
        let blue_btn = $('#win_team_blue_btn');
        let orange_btn = $('#win_team_orange_btn');
        let inactive_btn = null;

        ($(elem)[0].id === "win_team_blue_btn")
            ? inactive_btn = orange_btn
            : inactive_btn = blue_btn

        inactive_btn.attr("data-state", "inactive");
        inactive_btn.removeClass("btn-primary");
        inactive_btn.addClass("btn-outline-primary");

        $(elem).attr("data-state", "active");
        $(elem).removeClass("btn-outline-primary");
        $(elem).addClass("btn-primary");
    }

    function finishMap() {
        let matchID = "{{ match.id }}";
        let mapID = "{{ map.id }}";
        let data = `{"finish_map": true}`;

        let postURL = `/api/matches/finish_map/${matchID}/${mapID}/`;

        console.log(`POST: ${postURL} => ${data}`);
        $.post(postURL, data).done(function (data) {
            window.location = data['next_url'];
        }).fail(function () {
            location.reload();
        });
    }

    function setOFTeam(elem) {
        let blue_btn = $('#of_team_blue_btn');
        let orange_btn = $('#of_team_orange_btn');
        let inactive_btn = null;

        ($(elem)[0].id === "of_team_blue_btn")
            ? inactive_btn = orange_btn
            : inactive_btn = blue_btn

        inactive_btn.attr("data-state", "inactive");
        inactive_btn.removeClass("btn-primary");
        inactive_btn.addClass("btn-outline-primary");

        $(elem).attr("data-state", "active");
        $(elem).removeClass("btn-outline-primary");
        $(elem).addClass("btn-primary");
    }

    // Chart Handling
    let sideWinChart;
    let openingFragChart;
    let typeWinChart;
    let bombSpotPickChart;

    let chartOptions = {
        chart: {
            type: 'donut',
            foreColor: '#ffffff'
        },
        legend: {
            position: 'bottom',
        },
        series: [],
        labels: [
            '{{ match.team_blue }}', '{{ match.team_orange }}'
        ],
        colors: ['#0870d3', '#ea7516']
    }

    function createCharts() {
        sideWinChart = new ApexCharts(document.querySelector('#sideWinChart'), chartOptions);
        sideWinChart.render();
        openingFragChart = new ApexCharts(document.querySelector('#openingFragChart'), chartOptions);
        openingFragChart.render();
        typeWinChart = new ApexCharts(document.querySelector('#typeWinChart'), chartOptions);
        typeWinChart.render();
        bombSpotPickChart = new ApexCharts(document.querySelector('#bombSpotPickChart'), chartOptions);
        bombSpotPickChart.render();
    }

    function updateChartData(chart, series, labels, colors) {
        (colors === null)
            ? chart.updateOptions({series: series, labels: labels})
            : chart.updateOptions({series: series, labels: labels, colors: colors});
    }

</script>