{% extends "base/base.html" %}

{% load i18n %}

{% block head %}
    {% include "base/head.html" with page_title="Rounds" %}

    <!-- ApexCharts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock %}

{% block sidebar %}
    {% include "base/sidebar.html" with active_page="match_rounds" %}
{% endblock %}


{% block page_title_icon %}
    <i class="fas fa-2x fa-list-ol"></i>
{% endblock %}

{% block page_title_text %}
    {% trans "Rounds" %}
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">{% trans "Matches" %}</li>
    <li class="breadcrumb-item active">{{ match.id }}</li>
    <li class="breadcrumb-item active">{% trans "Rounds" %}</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6 col-12">

            <div class="card card-primary card-outline-all mb-3">
                <div class="card-body bg-gray-800 text-white">

                    <h5 class="card-title card-title-upper">{% trans "Round Controls" %}:</h5><br>
                    <div class="card-divider"></div>

                    <div class="row">
                        <div class="col-lg-6">
                            <label>{% trans "Bomb Spot" %}:</label>
                            <select id="bomb_spot_select" class="form-control selectpicker w-100"
                                    data-style="bg-dark-900 text-white border"
                                    data-live-search="true" title="{% trans "Please select..." %}">
                                {% for bs in bomb_spots %}
                                    <option value="{{ bs.id }}">{{ bs.floor }} - {{ bs.bomb_spot }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-lg-6">
                            <label>{% trans "Win Type" %}:</label>
                            <select id="win_type_select" class="form-control selectpicker w-100"
                                    data-style="bg-dark-900 text-white border"
                                    data-live-search="true" title="{% trans "Please select..." %}">
                                {% for type in win_types %}
                                    <option value="{{ type.id }}">{% trans type.name %}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>

                    <div class="card-divider mt-4"></div>

                    <div class="row">
                        <div class="col-lg-6">
                            <label>{% trans "Win Team" %}:</label>
                            <div class="row">
                                <div class="col-lg-6">
                                    <button id="win_team_blue_btn"
                                            class="btn btn-primary w-100"
                                            data-state="active"
                                            data-value="{{ match.team_blue.id }}"
                                            onclick="setWinTeam(this)">
                                        {{ match.team_blue }}
                                    </button>
                                </div>
                                <div class="col-lg-6">
                                    <button id="win_team_orange_btn"
                                            class="btn btn-outline-primary w-100"
                                            data-state="inactive"
                                            data-value="{{ match.team_orange.id }}"
                                            onclick="setWinTeam(this)">
                                        {{ match.team_orange }}
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <label>{% trans "Opening Frag" %} ({% trans "optional" %}):</label>
                            <div class="row">
                                <div class="col-lg-6">
                                    <button id="of_team_blue_btn"
                                            class="btn btn-primary w-100"
                                            data-state="active"
                                            data-value="{{ match.team_blue.id }}"
                                            onclick="setOFTeam(this)">
                                        {{ match.team_blue }}
                                    </button>
                                </div>
                                <div class="col-lg-6">
                                    <button id="of_team_orange_btn"
                                            class="btn btn-outline-primary w-100"
                                            data-state="inactive"
                                            data-value="{{ match.team_orange.id }}"
                                            onclick="setOFTeam(this)">
                                        {{ match.team_orange }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-divider mt-4"></div>

                    <div class="row">

                        <div class="col-12">
                            <label>{% trans "Notes" %}:</label>
                            <textarea id="round_notes" class="form-control" rows="3"
                                      placeholder="{% trans "Notes on the round" %} ({% trans "optional" %})"></textarea>
                        </div>

                    </div>

                    <div class="card-divider mt-4"></div>

                    <div class="row">
                        <div class="col-lg-6">
                            <button class="btn btn-primary w-100" onclick="addRound()">{% trans "Add Round" %}</button>
                        </div>
                        <div class="col-lg-6">
                            <button class="btn btn-danger w-100"
                                    onclick="removeLastRound()">{% trans "Remove Last Round" %}</button>
                        </div>
                    </div>

                    <div class="card-divider mt-4"></div>

                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-success w-100"
                                    onclick="finishMap()">{% trans "Finish Map" %}</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-lg-6 col-12">

            <div class="card card-success card-outline-all mb-3">
                <div class="card-body bg-gray-800 text-white">

                    <h5 class="card-title card-title-upper">{% trans "Live Statistics" %}:</h5><br>
                    <div class="card-divider"></div>

                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <label>{% trans "ATK / DEF Wins" %}</label>
                            <div id="sideWinChart"></div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <label>{% trans "Opening Frags" %}</label>
                            <div id="openingFragChart"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <label>{% trans "Wins By Type" %}</label>
                            <div id="typeWinChart"></div>
                        </div>
                        <div class="col-lg-6 col-12 mt-2">
                            <label>{% trans "BombSpot Pick Rates" %}</label>
                            <div id="bombSpotPickChart"></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-12">
            <div class="card card-warning card-outline-all mb-3">
                <div class="card-body bg-gray-800 text-white">

                    <h5 class="card-title card-title-upper">{% trans "Round Details" %}:</h5>
                    <br>

                    <table id="rounds-table" class="table table-sm table-head-fixed text-nowrap mt-2">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{% trans "Bomb Spot" %}</th>
                            <th scope="col">{% trans "Win Type" %}</th>
                            <th scope="col">{% trans "Win Team" %}</th>
                            <th scope="col">{% trans "Opening Frag" %}</th>
                            <th scope="col">{% trans "Score" %}</th>
                            <th scope="col">{% trans "Notes" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for r in rounds %}
                            <tr>
                                <th scope="row">{{ r.round_no }}</th>
                                <td>{{ r.bombspot.floor }} - {{ r.bombspot.bomb_spot }}</td>
                                <td>{% trans r.win_type.name %}</td>
                                <td>{{ r.win_team }}</td>
                                <td>{{ r.of_team }}</td>
                                <td>{{ r.score_blue }} - {{ r.score_orange }}</td>
                                <td>
                                    {% if r.notes %}
                                        {{ r.notes|linebreaksbr }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>

    {% include "matches/rounds-script.html" %}

{% endblock %}

