{% load i18n %}
{% load static %}

<div class="modal fade" role="dialog" id="share-match-modal">
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">

            <div class="modal-header bg-success">
                <h5 class="modal-title">{% trans "Share match" %}</h5>
            </div>

            <form id="share-match-form" class="needs-validation"
                  enctype="multipart/form-data" method="post" action=""
                  novalidate>
                {% csrf_token %}

                <div class="modal-body bg-dark">

                    <div class="form-group row">
                        <div class="input-group">
                            <label for="user-select"
                                   class="col-sm-4 col-form-label">{% trans "User" %}</label>
                            <div class="col-sm-8">

                                <select id="user-select" name="user"
                                        class="selectpicker form-control"
                                        multiple="multiple"
                                        data-style="bg-dark-900 text-white border"
                                        data-live-search="true"
                                        data-live-search-placeholder="{% trans "Search" %}"
                                        title="{% trans "Please select..." %}" required>

                                    {% for u in users %}
                                        {% if u not in match_users %}
                                            <option value="{{ u.id }}">{{ u.username }}</option>
                                        {% endif %}
                                    {% endfor %}

                                </select>

                                <div class="invalid-feedback">{% trans "Please enter a team name" %}!</div>
                            </div>
                        </div>
                    </div>

                    <hr style="border-top: 1px solid #fff">

                    <div class="row">
                        <div class="col-12">
                            <span><b>{% trans "Current users with access to the match" %}:</b></span>
                        </div>
                        <div class="col-12 mt-2">
                            <ul>
                                {% for u in match_users %}
                                    <li>{{ u.username }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <hr style="border-top: 1px solid #fff">

                    <div class="row">
                        <div class="col-12">
                            <span><i class="far fa-question-circle"></i> <b>{% trans "Quick Help" %}</b></span>
                        </div>
                        <div class="col-12 mt-2">
                            <i>
                                {% trans "You can share a match with other users" %}.<br>
                                {% trans "Simply select one or more users from the list and click 'Share Match'" %}.<br>
                            </i>
                        </div>
                    </div>

                </div>

                <div class="modal-footer justify-content-between bg-gray-800">
                    <button class="btn btn-secondary" data-dismiss="modal">
                        {% trans "Cancel" %}
                    </button>
                    <button class="btn btn-success" type="submit">
                        {% trans "Share Match" %}
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>

{% include 'base/form-validation.html' %}
{% include 'base/loading-modal.html' with  modal_id="add-team-loading-modal" title=_('Adding Team') %}

<script>
    $('#share-match-form').submit((event) => {
        let form = $('#share-match-form');

        event.preventDefault();

        // Form Validation
        if (!form[0].checkValidity()) {
            return;
        }
        form.addClass('was-validated');

        // Show loading modal
        $('#share-match-modal').modal('hide');
        //$('#add-team-loading-modal').modal('show');

        // Send data to API
        console.log("POST => ");
        console.log(form.serializeArray());
        $.ajax({
            url: '/api/match/{{ match.id }}/share/',
            data: form.serializeArray(),
            type: 'POST',
        }).fail((data) => {
            if (data.status === 500)
                toastr.error("{% trans "Match could not be shared" %}: {% trans "Internal Server Error" %} - {% trans "Please try again or contact an administrator" %}!", "{% trans "Error" %}");
        }).done((data) => {
            location.reload();
        });
    });
</script>
