/*
  Base SCSS
 */
@font-face {
  font-family: "ScoutCond Bold";
  src: url("/static/fonts/ScoutCond-Bold.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  width: 1920px;
  height: 100%;
  font-family: "ScoutCond Bold", "BebasNeue", sans-serif;
}

.d-none {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
  opacity: 0 !important;
}

/*
  Animations SCSS
 */
.anim_scaleInRight {
  animation: scaleInRight 0.5s;
}

.anim_scaleInLeft {
  animation: scaleInLeft 0.5s;
}

.anim_reverse {
  animation-direction: reverse;
}

@-webkit-keyframes fadeInLeftCenter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-220%, 0, 0);
    transform: translate3d(-220%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeftCenter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-220%, 0, 0);
    transform: translate3d(-220%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRightCenter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(220%, 0, 0);
    transform: translate3d(220%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRightCenter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(220%, 0, 0);
    transform: translate3d(220%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes scaleInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transform-origin: left;
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: left;
  }
}
@keyframes scaleInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transform-origin: left;
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: left;
  }
}
@-webkit-keyframes scaleInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transform-origin: right;
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: right;
  }
}
@keyframes scaleInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transform-origin: right;
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: right;
  }
}
/*
  OpBans SCSS
 */
body {
  background: limegreen;
}

div {
  height: 100%;
  width: 100%;
  margin: 0;
}
div.main {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 240px !important;
  height: 60px !important;
  background: rgba(0, 0, 0, 0.2);
}
div.opban-container {
  height: 50px;
  width: 50px;
  margin: auto;
  background: rgba(100, 100, 100, 0.4);
}

img.opban-image {
  height: 50px;
  width: 50px;
  filter: grayscale(0.7);
}

/*# sourceMappingURL=opbans.css.map */
