<!DOCTYPE html>
<html lang="en">

{% load i18n %}

{% block head %}
    {% include "base/head.html" with page_title="Overlays Control Center" %}
{% endblock %}

<body class="bg-gray-800 overflow-hidden">

<div class="row p-2">

    <!-- Overlay Toggles -->
    <div class="col-12">
        <div class="card card-success card-outline-all mb-3">
            <div class="card-body bg-gray-800 text-white">
                <h5 class="card-title card-title-upper">{% trans "Toggle Overlays" %}</h5><br>

                <div class="card-divider"></div>

                <!-- Start Overlay -->
                <div class="row mb-1">
                    <div class="col-9">
                        {% trans "Start Overlay" %}
                    </div>
                    <div class="col-3 text-right">
                        {% if overlay_states.start_state %}
                            <button class="btn badge badge-success w-100" data-state="true"
                                    data-name="start_state" onclick="toggleState(this)">{% trans "on" %}
                            </button>
                        {% else %}
                            <button class="btn badge badge-danger w-100" data-state="false"
                                    data-name="start_state" onclick="toggleState(this)">{% trans "off" %}
                            </button>
                        {% endif %}
                    </div>
                </div>

                <!-- InGame Overlay -->
                <div class="row mb-1">
                    <div class="col-9">
                        {% trans "InGame Overlay" %}
                    </div>
                    <div class="col-3 text-right">
                        {% if overlay_states.ingame_state %}
                            <button class="btn badge badge-success w-100" data-state="true"
                                    data-name="ingame_state" onclick="toggleState(this)">{% trans "on" %}
                            </button>
                        {% else %}
                            <button class="btn badge badge-danger w-100" data-state="false"
                                    data-name="ingame_state" onclick="toggleState(this)">{% trans "off" %}
                            </button>
                        {% endif %}
                    </div>
                </div>

                <!-- Maps Overlay -->
                <div class="row mb-1">
                    <div class="col-9">
                        {% trans "Maps Overlay" %}
                    </div>
                    <div class="col-3 text-right">
                        {% if overlay_states.maps_state %}
                            <button class="btn badge badge-success w-100" data-state="true"
                                    data-name="maps_state" onclick="toggleState(this)">{% trans "on" %}
                            </button>
                        {% else %}
                            <button class="btn badge badge-danger w-100" data-state="false"
                                    data-name="maps_state" onclick="toggleState(this)">{% trans "off" %}
                            </button>
                        {% endif %}
                    </div>
                </div>

                <!-- Operator Bans Overlay -->
                <div class="row mb-1">
                    <div class="col-9">
                        {% trans "Operator Bans Overlay" %}
                    </div>
                    <div class="col-3 text-right">
                        {% if overlay_states.opbans_state %}
                            <button class="btn badge badge-success w-100" data-state="true"
                                    data-name="opbans_state" onclick="toggleState(this)">{% trans "on" %}
                            </button>
                        {% else %}
                            <button class="btn badge badge-danger w-100" data-state="false"
                                    data-name="opbans_state" onclick="toggleState(this)">{% trans "off" %}
                            </button>
                        {% endif %}
                    </div>
                </div>

                <!-- Rounds Overlay -->
                <div class="row">
                    <div class="col-9">
                        {% trans "Rounds Overlay" %}
                    </div>
                    <div class="col-3 text-right">
                        {% if overlay_states.rounds_state %}
                            <button class="btn badge badge-success w-100" data-state="true"
                                    data-name="rounds_state" onclick="toggleState(this)">{% trans "on" %}
                            </button>
                        {% else %}
                            <button class="btn badge badge-danger w-100" data-state="false"
                                    data-name="rounds_state" onclick="toggleState(this)">{% trans "off" %}
                            </button>
                        {% endif %}
                    </div>
                </div>

                <div class="card-divider mt-3"></div>

                <!-- Social Overlay -->
                <div class="row mb-1">
                    <div class="col-9">
                        {% trans "Social Overlay" %}
                    </div>
                    <div class="col-3 text-right">
                        {% if overlay_states.social_state %}
                            <button class="btn badge badge-success w-100" data-state="true"
                                    data-name="social_state" onclick="toggleState(this)">{% trans "on" %}
                            </button>
                        {% else %}
                            <button class="btn badge badge-danger w-100" data-state="false"
                                    data-name="social_state" onclick="toggleState(this)">{% trans "off" %}
                            </button>
                        {% endif %}
                    </div>
                </div>

                <!-- Poll Overlay -->
                <div class="row mb-1">
                    <div class="col-9">
                        {% trans "Poll Overlay" %}
                    </div>
                    <div class="col-3 text-right">
                        {% if overlay_states.poll_state %}
                            <button class="btn badge badge-success w-100" data-state="true"
                                    data-name="poll_state" onclick="toggleState(this)">{% trans "on" %}
                            </button>
                        {% else %}
                            <button class="btn badge badge-danger w-100" data-state="false"
                                    data-name="poll_state" onclick="toggleState(this)">{% trans "off" %}
                            </button>
                        {% endif %}
                    </div>
                </div>

                <!-- Timer Overlay -->
                <div class="row mb-1">
                    <div class="col-9">
                        {% trans "Timer Overlay" %}
                    </div>
                    <div class="col-3 text-right">
                        {% if overlay_states.timer_state %}
                            <button class="btn badge badge-success w-100" data-state="true"
                                    data-name="timer_state" onclick="toggleState(this)">{% trans "on" %}
                            </button>
                        {% else %}
                            <button class="btn badge badge-danger w-100" data-state="false"
                                    data-name="timer_state" onclick="toggleState(this)">{% trans "off" %}
                            </button>
                        {% endif %}
                    </div>
                </div>

                <!-- Ticker Overlay -->
                <div class="row mb-1">
                    <div class="col-9">
                        {% trans "Ticker Overlay" %}
                    </div>
                    <div class="col-3 text-right">
                        {% if overlay_states.ticker_state %}
                            <button class="btn badge badge-success w-100" data-state="true"
                                    data-name="ticker_state" onclick="toggleState(this)">{% trans "on" %}
                            </button>
                        {% else %}
                            <button class="btn badge badge-danger w-100" data-state="false"
                                    data-name="ticker_state" onclick="toggleState(this)">{% trans "off" %}
                            </button>
                        {% endif %}
                    </div>
                </div>

                <!-- Next Match -->
                <div class="row">
                    <div class="col-9">
                        {% trans "Next Match Overlay" %}
                    </div>
                    <div class="col-3 text-right">
                        {% if overlay_states.next_match_state %}
                            <button class="btn badge badge-success w-100" data-state="true"
                                    data-name="next_match_state" onclick="toggleState(this)">{% trans "on" %}
                            </button>
                        {% else %}
                            <button class="btn badge badge-danger w-100" data-state="false"
                                    data-name="next_match_state" onclick="toggleState(this)">{% trans "off" %}
                            </button>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>

    function toggleState(elem) {
        var current_user_id = {{ user.id }};
        var qElem = $(elem);

        var postURL = "/api/overlay/overlay_state/" + current_user_id + "/"

        if (qElem.attr("data-state") === "true") {
            qElem.attr("data-state", "false")

            qElem.removeClass("badge-success");
            qElem.addClass("badge-danger");

            qElem.html("{% trans "off" %}");

            data = '{"' + qElem.attr('data-name') + '": false}';

            console.log("POST: " + postURL + " => " + data);
            $.post(postURL, data);

        } else if (qElem.attr("data-state") === "false") {
            qElem.attr("data-state", "true")

            qElem.removeClass("badge-danger");
            qElem.addClass("badge-success");

            qElem.html("{% trans "on" %}");

            data = '{"' + qElem.attr('data-name') + '": true}';

            console.log("POST: " + postURL + " => " + data);
            $.post(postURL, data);
        }
    }
</script>

</body>
</html>