// Imports
@import "base";
@import "animations";

/*
  InGame SCSS
 */

// Theme Variables
$left-bg: linear-gradient(0.25turn, rgba(8, 112, 211, 0.3) 10%, rgba(8, 112, 211, 0.8) 80%) !default;
$center-bg: $dark-gray !default;
$right-bg: linear-gradient(0.75turn, rgba(234, 117, 22, 0.3) 10%, rgba(234, 117, 22, 0.8) 80%) !default;
$score-left-bg: $dark-gray !default;
$score-right-bg: $dark-gray !default;
$score-active-bg: yellow !default;
$text-col: #fff !default;

// Mixins

@mixin container() {
  display: grid;
}

// CSS

div {
  height: 100%;
  width: 100%;

  &.d-disabled {
    display: none !important;
  }

  &.main-bg {
    position: absolute;
    height: 48px !important;
  }

  &.main {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 186px 1fr;
    height: 48px !important;
  }

  &.container-left {
    @include container;
    grid-template-columns: 300px 1fr;
    background: $left-bg;
  }

  &.container-right {
    @include container;
    grid-template-columns: 1fr 300px;
    background: $right-bg;
  }

  &.container-center {
    @include container;
    grid-template-columns: 54px 1fr 54px;
    background: $center-bg;
  }

  &.container-sponsor {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  &.title-wrapper {
    display: flex;

    &-big {
      @extend .title-wrapper;
      flex-direction: row;
      justify-content: start;
      align-items: center;
    }

    &-sm {
      @extend .title-wrapper;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }
  }

  &.container-team {
    display: flex;
    align-items: center;
    flex-direction: row;

    &-left {
      @extend .container-team;
      justify-content: flex-end;
    }

    &-right {
      @extend .container-team;
      justify-content: start;
    }
  }

  &.container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.container-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-left {
      @extend .container-score;
      background: $score-left-bg;
    }

    &-right {
      @extend .container-score;
      background: $score-right-bg;
    }
  }

  &.score {
    width: 34px;
    height: 8px;
    margin-top: 3px;
    margin-bottom: 3px;
    background: $light-gray;

    &.active {
      background: $score-active-bg;
      box-shadow: 0px 0px 2px 0px $score-active-bg;
    }
  }
}

img {
  &.logo {
    height: 40px;
    width: 40px;

    &-team {
      @extend .logo;
      margin-left: 7px;
      margin-right: 7px;
    }
  }

  &.sponsor {
    margin-right: 7px;
    height: 40px;
    width: auto;
  }
}

span {
  text-transform: uppercase;
  color: $text-col;

  &.title {
    margin-left: 7px;

    &-big {
      @extend .title;
      margin-top: -4px;
      font-size: 32px;
    }

    &-sm {
      @extend .title;
      margin-top: -2px;
      font-size: 24px;
      line-height: 24px;
    }
  }

  &.team-name-text {
    margin-top: -4px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 40px;

    &-left {
      @extend .team-name-text;
      margin-right: 14px;
    }

    &-right {
      @extend .team-name-text;
      margin-left: 14px;
    }
  }
}

