@import "base";

// Theme Variable Overrides
$left-bg: linear-gradient(0.25turn, transparent, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.4) 20%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.75) 40%, rgba(255, 255, 255, 0.8) 60%);
$right-bg: linear-gradient(0.75turn, transparent, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.4) 20%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.75) 40%, rgba(255, 255, 255, 0.8) 60%);
$text-col: #000;
$center-text-col: #000;
$team-left-col: rgb(8, 112, 211);
$team-right-col: rgb(234, 117, 22);
$center-bg: rgba(180, 180, 180, 0.8);


@import "start";
