<script>
    // HTML Elements
    let main = $('#main');
    let center_logo = $('#main-logo-container');
    let container_left = $('#container-left');
    let container_right = $('#container-right');
    let score_left = $('#score-left');
    let score_right = $('#score-right');

    // Variables
    let overlay_state = null;

    $(document).ready(function () {
        // Data
        update();
        setInterval(update, 1000);

        // Animations
        animateTitle();
        setInterval(function () {
            animateTitle();
        }, 19000);
    });

    function animateIN() {
        // Start 1s. after page load
        setTimeout(function () {
            main.removeClass("d-none");
            main.addClass("animate__animated animate__faster animate__slideInDown");
        }, 1000)

        // Logo & Team Container (1.3s.)
        setTimeout(function () {
            center_logo.removeClass("invisible");
            center_logo.addClass("animate__animated animate__faster animate__fadeIn");

            container_left.removeClass("invisible");
            container_left.addClass("anim_scaleInRight");
            container_right.removeClass("invisible");
            container_right.addClass("anim_scaleInLeft");
        }, 1300)

        // Score (1.3 + 0.5 = 1.8s.)
        setTimeout(function () {
            score_left.removeClass("invisible");
            score_left.addClass("anim_scaleInLeft");
            score_right.removeClass("invisible");
            score_right.addClass("anim_scaleInRight");
        }, 1800)

        // Remove animation classes
        setTimeout(function () {
            main.removeClass("animate__animated animate__faster animate__slideInDown");
            center_logo.removeClass("animate__animated animate__faster animate__fadeIn");
            container_left.removeClass("anim_scaleInRight");
            container_right.removeClass("anim_scaleInLeft");
            score_left.removeClass("anim_scaleInLeft");
            score_right.removeClass("anim_scaleInRight");
        }, 2500)
    }

    function animateOUT() {
        score_left.addClass("animate__animated animate__zoomOut");
        score_right.addClass("animate__animated animate__zoomOut");
        center_logo.addClass("animate__animated animate__zoomOut");

        container_left.addClass("anim_scaleInRight anim_reverse");
        container_right.addClass("anim_scaleInLeft anim_reverse");

        setTimeout(function () {
            container_left.addClass("invisible");
            container_right.addClass("invisible");
            score_left.addClass("invisible");
            score_right.addClass("invisible");
            center_logo.addClass("invisible");

            main.addClass("animate__animated animate__faster animate__fadeOutUp");
        }, 500)

        // Remove animation classes
        setTimeout(function () {
            main.addClass("d-none");
            main.removeClass("animate__animated animate__faster animate__fadeOutUp");
            score_left.removeClass("animate__animated animate__zoomOut");
            score_right.removeClass("animate__animated animate__zoomOut");
            center_logo.removeClass("animate__animated animate__zoomOut");
            container_left.removeClass("anim_scaleInRight anim_reverse");
            container_right.removeClass("anim_scaleInLeft anim_reverse");
        }, 1500)
    }

    function animateTitle() {
        let title_wrapper = $('#title-wrapper');
        let map_pick = $('#map-pick');

        // Animate Title Out (at 8s.)
        setTimeout(function () {
            title_wrapper.addClass("animate__animated animate__fadeOut");
        }, 8000)

        // Animate Map Pick In (at 8+1 = 9s.)
        setTimeout(function () {
            title_wrapper.addClass("d-none");
            title_wrapper.removeClass("animate__animated animate__fadeOut");

            map_pick.removeClass("d-none");
            map_pick.addClass("animate__animated animate__fadeIn")
        }, 9000)

        // Animate Map Pick Out (at 9+8 = 17s.)
        setTimeout(function () {
            map_pick.addClass("animate__animated animate__fadeOut");
        }, 17000)

        // Animate Title In (at 17+1 = 18s.)
        setTimeout(function () {
            map_pick.addClass("d-none");
            map_pick.removeClass("animate__animated animate__fadeOut");

            title_wrapper.removeClass("d-none");
            title_wrapper.addClass("animate__animated animate__fadeIn")
        }, 18000)
    }

    function update() {
        // Overlay State
        $.getJSON("/api/overlay/overlay_state/{{ user.id }}/", function (data) {
            if (overlay_state === null) {
                overlay_state = data['ingame_state'];
                if (overlay_state) animateIN();
            } else {
                if (overlay_state !== data['ingame_state']) {
                    console.log("state_changed");
                    overlay_state = data['ingame_state'];
                    if (overlay_state) {
                        $('#main').removeClass("d-disabled");
                        animateIN();
                    } else {
                        animateOUT();
                        setTimeout(function () {
                            $('#main').addClass("d-disabled");
                        }, 2000)
                    }
                }
            }
        });
    }

</script>