<script>
    // HTML Elements
    let main = $('#main');
    let main_bg = $('#main-bg');
    let center_logo = $('#main-logo-container');
    let container_left = $('#container-left');
    let container_right = $('#container-right');
    let score_left = $('#score-left');
    let score_right = $('#score-right');
    let sponsor_wrapper = $('#sponsor-container');
    let sponsors = $('.sponsor');

    // Variables
    let current_match = null;
    let current_overlay_match = null;
    let current_map = null;
    let score_blue = null;
    let score_orange = null;
    let overlay_state = null;
    let current_map_pick = null;
    let titleAnimationTimer = null;

    let sponsor_len = {{ sponsors|length }};
    let sponsor_current_order = 0;

    // Websockets
    const get_data_cmd = JSON.stringify({'command': 'get_state', 'user': '{{ overlay_user }}'});
    const loc = window.location;

    let overlayStateWsURL = 'ws://' + loc.host + '/ws/overlays/state/';
    if (loc.protocol === 'https:') {
        overlayStateWsURL = 'wss://' + loc.host + '/ws/overlays/state/';
    }
    console.log("Starting Websocket: " + overlayStateWsURL);
    const overlaySocket = new WebSocket(overlayStateWsURL);
    overlaySocket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        handleStateChange(data['ingame_state']);
    }
    overlaySocket.onclose = function (event) {
        console.error('OverlayState socket closed.');
    }
    overlaySocket.onopen = () => overlaySocket.send(get_data_cmd);

    let matchDataWsURL = 'ws://' + loc.host + '/ws/overlays/match_data/';
    if (loc.protocol === 'https:') {
        matchDataWsURL = 'wss://' + loc.host + '/ws/overlays/match_data/';
    }
    console.log("Starting Websocket: " + overlayStateWsURL);
    const matchDataSocket = new WebSocket(matchDataWsURL);
    matchDataSocket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        handleMatchDataChange(data);
    }
    matchDataSocket.onclose = function (event) {
        console.error('MatchData socket closed.');
    }
    matchDataSocket.onopen = () => matchDataSocket.send(get_data_cmd);

    $(document).ready(function () {
        if (sponsor_len >= 2) {
            animateSponsor();
            setInterval(function () {
                animateSponsor();
            }, 19000);
        }
    });

    function handleStateChange(new_state) {
        console.log(new_state);
        if (overlay_state === null) {
            overlay_state = new_state;
            if (overlay_state) animateIN();
        } else {
            if (overlay_state !== new_state) {
                console.log("Overlay state changed!");
                overlay_state = new_state;
                if (overlay_state) {
                    console.log("Animating IN");
                    $('#main').removeClass("d-disabled");
                    animateIN();
                } else {
                    console.log("Animating OUT");
                    animateOUT();
                    setTimeout(function () {
                        $('#main').addClass("d-disabled");
                    }, 2000)
                }
            }
        }
    }

    function handleMatchDataChange(data) {
        console.log(data);
        // Current Match
        if (current_match === null) current_match = data.match.id;
        if (data.match_overlay_data != null)
            current_overlay_match = data.match_overlay_data.current_match;
        if (current_match !== data.match.id) {
            if (current_overlay_match === data.match.id) {
                location.reload();
            }
        }

        if (score_blue === null) score_blue = data.match.score_blue
        if (score_orange === null) score_orange = data.match.score_orange

        if (score_blue !== data.match.score_blue || score_orange !== data.match.score_orange) {
            if (data.match.score_blue === 0 && data.match.score_orange === 0) {
                score_blue = data.match.score_blue;
                score_orange = data.match.score_orange;
            } else {
                score_blue = data.match.score_blue;
                score_orange = data.match.score_orange;
            }
        }

        // Update Score UI Elements
        if (score_blue < 1) {
            $('#score-left-inner-1').removeClass("active");
            $('#score-left-inner-2').removeClass("active");
            $('#score-left-inner-3').removeClass("active");
        }
        if (score_blue >= 1) $('#score-left-inner-1').addClass("active");
        if (score_blue >= 2) $('#score-left-inner-2').addClass("active");
        if (score_blue >= 3) $('#score-left-inner-3').addClass("active");

        if (score_orange < 1) {
            $('#score-right-inner-1').removeClass("active");
            $('#score-right-inner-2').removeClass("active");
            $('#score-right-inner-3').removeClass("active");
        }
        if (score_orange >= 1) $('#score-right-inner-1').addClass("active");
        if (score_orange >= 2) $('#score-right-inner-2').addClass("active");
        if (score_orange >= 3) $('#score-right-inner-3').addClass("active");

        if (data.match.best_of >= 2) {
            let combined_score = score_blue + score_orange;

            if (data.maps != null && data.maps.length > 0) {
                if (current_map_pick !== data.maps[combined_score].team) {
                    if (combined_score < data.maps.length) {
                        current_map_pick = data.maps[combined_score].team;

                        $('#map-pick-logo').attr("src", `/media/teams/${current_map_pick}_50.webp`)
                        $('#map-pick-logo').removeClass('d-none');

                        if (data.maps[combined_score].type === "decider") {
                            $('#map-pick-title').html("Decider Map");
                            $('#map-pick-logo').addClass('d-none');
                        }

                        if (titleAnimationTimer !== null) {
                            clearInterval(titleAnimationTimer);
                        }
                        animateTitle();
                        titleAnimationTimer = setInterval(function () {
                            animateTitle();
                        }, 19000);
                    }
                }
            }
        }
    }

    function animateIN() {
        // Start 1s. after page load
        setTimeout(function () {
            main.removeClass("d-none");
            main.addClass("animate__animated animate__faster animate__slideInDown");
        }, 1000)

        // Logo & Team Container (1.3s.)
        setTimeout(function () {
            center_logo.removeClass("invisible");
            center_logo.addClass("animate__animated animate__faster animate__fadeIn");

            container_left.removeClass("invisible");
            container_left.addClass("anim_scaleInRight");
            container_right.removeClass("invisible");
            container_right.addClass("anim_scaleInLeft");
        }, 1300)

        // Score & Background Logo (1.3 + 0.5 = 1.8s.)
        setTimeout(function () {
            score_left.removeClass("invisible");
            score_left.addClass("anim_scaleInLeft");
            score_right.removeClass("invisible");
            score_right.addClass("anim_scaleInRight");

            main_bg.removeClass("invisible");
            main_bg.addClass("animate__animated animate__faster animate__fadeIn");
        }, 1800)

        // Remove animation classes
        setTimeout(function () {
            main.removeClass("animate__animated animate__faster animate__slideInDown");
            center_logo.removeClass("animate__animated animate__faster animate__fadeIn");
            container_left.removeClass("anim_scaleInRight");
            container_right.removeClass("anim_scaleInLeft");
            score_left.removeClass("anim_scaleInLeft");
            score_right.removeClass("anim_scaleInRight");
            main_bg.removeClass("animate__animated animate__faster animate__fadeIn");
        }, 2500)
    }

    function animateOUT() {
        score_left.addClass("animate__animated animate__zoomOut");
        score_right.addClass("animate__animated animate__zoomOut");
        center_logo.addClass("animate__animated animate__zoomOut");
        main_bg.addClass("animate__animated animate__faster animate__fadeOut");

        container_left.addClass("anim_scaleInRight anim_reverse");
        container_right.addClass("anim_scaleInLeft anim_reverse");

        setTimeout(function () {
            container_left.addClass("invisible");
            container_right.addClass("invisible");
            score_left.addClass("invisible");
            score_right.addClass("invisible");
            center_logo.addClass("invisible");
            main_bg.addClass("invisible");

            main.addClass("animate__animated animate__faster animate__fadeOutUp");
        }, 500)

        // Remove animation classes
        setTimeout(function () {
            main.addClass("d-none");
            main.removeClass("animate__animated animate__faster animate__fadeOutUp");
            score_left.removeClass("animate__animated animate__zoomOut");
            score_right.removeClass("animate__animated animate__zoomOut");
            center_logo.removeClass("animate__animated animate__zoomOut");
            container_left.removeClass("anim_scaleInRight anim_reverse");
            container_right.removeClass("anim_scaleInLeft anim_reverse");
            main_bg.removeClass("animate__animated animate__faster animate__fadeOut");
        }, 1500)
    }

    function animateTitle() {
        let title_wrapper = $('#title-wrapper');
        let map_pick = $('#map-pick');

        // Animate Title Out (at 8s.)
        setTimeout(function () {
            title_wrapper.addClass("animate__animated animate__fadeOut");
        }, 8000)

        // Animate Map Pick In (at 8+1 = 9s.)
        setTimeout(function () {
            title_wrapper.addClass("d-none");
            title_wrapper.removeClass("animate__animated animate__fadeOut");

            map_pick.removeClass("d-none");
            map_pick.addClass("animate__animated animate__fadeIn")
        }, 9000)

        // Animate Map Pick Out (at 9+8 = 17s.)
        setTimeout(function () {
            map_pick.addClass("animate__animated animate__fadeOut");
        }, 17000)

        // Animate Title In (at 17+1 = 18s.)
        setTimeout(function () {
            map_pick.addClass("d-none");
            map_pick.removeClass("animate__animated animate__fadeOut");

            title_wrapper.removeClass("d-none");
            title_wrapper.addClass("animate__animated animate__fadeIn")
        }, 18000)
    }

    function animateSponsor() {
        let current_sponsor = $(`.sponsor[data-order="${sponsor_current_order}"]`);

        let next_sponsor_id = sponsor_current_order + 1
        if (next_sponsor_id >= sponsor_len) {
            next_sponsor_id = 0;
        }

        let next_sponsor = $(`.sponsor[data-order="${next_sponsor_id}"]`);

        // Animate Current Sponsor Out (at 8s.)
        setTimeout(function () {
            current_sponsor.addClass("animate__animated animate__fadeOut");
        }, 8000)

        // Animate Next Sponsor In (at 8+1 = 9s.)
        setTimeout(function () {
            current_sponsor.addClass("d-none");
            current_sponsor.removeClass("animate__animated animate__fadeOut");

            next_sponsor.removeClass("d-none");
            next_sponsor.addClass("animate__animated animate__fadeIn");
        }, 9000)

        // Remove Animation Classes (at 9 + 1.5 = 10.5s.)
        setTimeout(function () {
            next_sponsor.removeClass("animate__animated animate__fadeIn");
        }, 10500)

        sponsor_current_order = next_sponsor_id;
    }


</script>