<script>
    // HTML Elements
    let main = $('#main');
    let active_maps = [];
    let map_animation_timer = null;

    // Variables
    let current_match = null;
    let overlay_state = null;

    $(document).ready(function () {
        // Data
        update();
        setInterval(update, 1000);
    });

    function update() {
        // Current Match
        $.getJSON("/api/overlay/current_match/{{ overlay_user.id }}/", function (data) {
            if (current_match === null) current_match = data['current_match'];
            if (current_match !== data['current_match']) location.reload();
        });

        // Overlay State
        $.getJSON("/api/overlay/overlay_state/{{ overlay_user.id }}/", function (data) {
            if (overlay_state === null) {
                overlay_state = data['maps_state'];
                if (overlay_state) {
                    animateIN();
                    map_animation_timer = setInterval(animateMaps, 2000);
                }
            } else {
                if (overlay_state !== data['maps_state']) {
                    console.log("state_changed");
                    overlay_state = data['maps_state'];
                    if (overlay_state) {
                        $('#main').removeClass("d-disabled");
                        animateIN();
                        setInterval(animateMaps, 2000);
                    } else {
                        animateOUT();
                        clearInterval(map_animation_timer);
                        setTimeout(function () {
                            $('#main').addClass("d-disabled");
                        }, 3000)
                    }
                }
            }
        });

        // Maps Data
        $.getJSON("/api/match/{{ match.id }}/maps/", function (data) {
            for (let i = 0; i < data.length; i++) {
                let order = data[i]['order'];

                // Set container
                let container = $(`#map${order}`);
                if (active_maps.length <= i) {
                    active_maps.push(container);
                }
                if (data[i]['type'] === 1 || data[i]['type'] === 4) {
                    container.addClass("ban");
                } else if (data[i]['type'] === 2 || data[i]['type'] === 3) {
                    container.addClass("pick");
                }

                let img = $(`#map${order}-img`);
                let team = $(`#map${order}-team`);
                let name = $(`#map${order}-name`);

                // Set values
                img.attr("src", `/static/img/maps/${data[i]['map']}.webp`);
                name.html(data[i]['map_name']);
                (order < 7)
                    ? team.attr("src", `/media/teams/${data[i]['team']}_500.webp`)
                    : team.attr("src", '/media/leagues/{{ match.league.id }}_500.webp');

            }
        });
    }

    function animateIN() {
        // Start 1s. after page load
        setTimeout(function () {
            main.removeClass("d-none");
            main.addClass("animate__animated animate__faster animate__slideInUp");
        }, 1000)

        // Animate Map Elements (at 2.5s.)
        setTimeout(function () {
            // Remove main animation class
            main.removeClass("animate__animated animate__faster animate__slideInUp");
        }, 2000)

    }

    function animateOUT() {
        for (let i = 1; i <= 7; i++) {
            $(`#map${i}`).removeAttr("data-animated");
            $(`#map${i}`).find('.img-container').addClass("animate__animated animate__faster animate__zoomOut");
            $(`#map${i}-name`).addClass("animate__animated animate__faster animate__slideOutDown");

            setTimeout(function () {
                $(`#map${i}`).find('.img-container').addClass("invisible");
                $(`#map${i}`).find('.img-container').removeClass("animate__animated animate__faster animate__zoomOut");
                $(`#map${i}-name`).addClass("invisible");
                $(`#map${i}-name`).removeClass("animate__animated animate__faster animate__slideOutDown");
            }, 600);

        }

        setTimeout(function () {
            main.addClass("animate__animated animate__faster animate__slideOutDown");
        }, 600)

        // Remove animation classes
        setTimeout(function () {
            main.addClass("d-none");
            main.removeClass("animate__animated animate__faster animate__slideOutDown");
        }, 1600)
    }

    function animateMaps() {
        for (let i = 0; i < active_maps.length; i++) {
            if (active_maps[i].attr("data-animated") !== "true") {
                active_maps[i].attr("data-animated", "true");
                let img = active_maps[i].find(".img-container");
                let text = active_maps[i].find(".map-description");
                setTimeout(function () {
                    img.removeClass("invisible");
                    text.removeClass("invisible");
                    img.addClass("animate__animated animate__faster animate__zoomIn");
                    text.addClass('animate__animated animate__faster animate__slideInUp');
                }, i * 500);
                setTimeout(function () {
                    img.removeClass("animate__animated animate__faster animate__zoomIn");
                    text.removeClass('animate__animated animate__faster animate__slideInUp');
                }, (i * 500) + 1000)
            }
        }
    }

</script>