<script>
    // HTML Elements
    let main = $('#main');
    let container_center = $('#container-center');
    let center_text = $('#center-text');
    let container_left = $('#container-left');
    let container_right = $('#container-right');
    let score_left = $('#score-left');
    let score_right = $('#score-right');

    // Variables
    let current_match = null;
    let score_blue = null;
    let score_orange = null;
    let overlay_state = null;

    $(document).ready(function () {
        // Data
        update();
        setInterval(update, 1000);
    });

    function update() {
        // Current Match
        $.getJSON("/api/overlay/current_match/{{ overlay_user.id }}/", function (data) {
            if (current_match === null) current_match = data['current_match'];
            if (current_match !== data['current_match']) location.reload();
        });

        // Match State
        $.getJSON(`/api/matches/{{ match.id }}/`, function (data) {
            if (score_blue === null) score_blue = data['score_blue']
            if (score_orange === null) score_orange = data['score_orange']

            if (score_blue !== data['score_blue'] || score_orange !== data['score_orange']) {
                if (data['score_blue'] === 0 && data['score_orange'] === 0) {
                    score_blue = data['score_blue'];
                    score_orange = data['score_orange'];
                    $('#center-text').html("- vs -");
                } else {
                    score_blue = data['score_blue'];
                    score_orange = data['score_orange'];
                    $('#center-text').html(`${score_blue} - ${score_orange}`);
                }
            }
        })

        // Overlay State
        $.getJSON("/api/overlay/overlay_state/{{ overlay_user.id }}/", function (data) {
            if (overlay_state === null) {
                overlay_state = data['start_state'];
                if (overlay_state) animateIN();
            } else {
                if (overlay_state !== data['start_state']) {
                    console.log("state_changed");
                    overlay_state = data['start_state'];
                    if (overlay_state) {
                        $('#main').removeClass("d-disabled");
                        animateIN();
                    } else {
                        animateOUT();
                        setTimeout(function () {
                            $('#main').addClass("d-disabled");
                        }, 2000)
                    }
                }
            }
        });
    }

    function animateIN() {
        // Start 1s. after page load
        setTimeout(function () {
            main.removeClass("d-none");
            container_center.removeClass("invisible");
            container_center.addClass("animate__animated animate__faster animate__zoomIn");
        }, 1000)

        // Center Text & Team Container (1.3s.)
        setTimeout(function () {
            center_text.removeClass("invisible");
            center_text.addClass("animate__animated animate__faster animate__fadeIn");

            container_left.removeClass("invisible");
            container_left.addClass("anim_scaleInRight");
            container_right.removeClass("invisible");
            container_right.addClass("anim_scaleInLeft");
        }, 1300)

        // Remove animation classes
        setTimeout(function () {
            container_center.removeClass("animate__animated animate__faster animate__zoomIn");
            center_text.removeClass("animate__animated animate__faster animate__fadeIn");
            container_left.removeClass("anim_scaleInRight");
            container_right.removeClass("anim_scaleInLeft");
        }, 2000)
    }

    function animateOUT() {
        center_text.addClass("animate__animated animate__fadeOut");

        container_left.addClass("anim_scaleInRight anim_reverse");
        container_right.addClass("anim_scaleInLeft anim_reverse");

        setTimeout(function () {
            container_left.addClass("invisible");
            container_right.addClass("invisible");
            center_text.addClass("invisible");

            container_center.addClass("animate__animated animate__faster animate__zoomOut");
        }, 500)

        // Remove animation classes
        setTimeout(function () {
            container_center.removeClass("animate__animated animate__faster animate__zoomOut");
            center_text.removeClass("animate__animated animate__fadeOut");
            container_left.removeClass("anim_scaleInRight anim_reverse");
            container_right.removeClass("anim_scaleInLeft anim_reverse");
            main.addClass("d-none");
        }, 1500)
    }


</script>