<script>
    // HTML Elements
    let main = $('#main');
    let main_bg = $('#main-bg');
    let container_center = $('#container-center');
    let center_text = $('#center-text');
    let container_left = $('#container-left');
    let container_right = $('#container-right');
    let score_left = $('#score-left');
    let score_right = $('#score-right');

    // Variables
    let current_match = null;
    let score_blue = null;
    let score_orange = null;
    let overlay_state = null;

    // Websockets
    const get_data_cmd = JSON.stringify({'command': 'get_state', 'user': '{{ overlay_user }}'});
    const loc = window.location;

    let overlayStateWsURL = 'ws://' + loc.host + '/ws/overlays/state/';
    if (loc.protocol === 'https:'){
        overlayStateWsURL = 'wss://' + loc.host + '/ws/overlays/state/';
    }
    console.log("Starting Websocket: " + overlayStateWsURL);
    const overlaySocket = new WebSocket(overlayStateWsURL);
    overlaySocket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        handleStateChange(data['start_state']);
    }
    overlaySocket.onclose = function (event) {
        console.error('OverlayState socket closed.');
    }
    overlaySocket.onopen = () => overlaySocket.send(get_data_cmd);

    let matchDataWsURL = 'ws://' + loc.host + '/ws/overlays/match_data/';
    if (loc.protocol === 'https:'){
        matchDataWsURL = 'wss://' + loc.host + '/ws/overlays/match_data/';
    }
    console.log("Starting Websocket: " + overlayStateWsURL);
    const matchDataSocket = new WebSocket(matchDataWsURL);
    matchDataSocket.onmessage = function (event) {
        const data = JSON.parse(event.data);
        handleMatchDataChange(data);
    }
    matchDataSocket.onclose = function (event) {
        console.error('MatchData socket closed.');
    }
    matchDataSocket.onopen = () => matchDataSocket.send(get_data_cmd);

    function handleStateChange(new_state) {
        if (overlay_state === null) {
            overlay_state = new_state;
            if (overlay_state) animateIN();
        } else {
            if (overlay_state !== new_state) {
                console.log("Overlay state changed!");
                overlay_state = new_state;
                if (overlay_state) {
                    console.log("Animating IN");
                    $('#main').removeClass("d-disabled");
                    animateIN();
                } else {
                    console.log("Animating OUT");
                    animateOUT();
                    setTimeout(function () {
                        $('#main').addClass("d-disabled");
                    }, 2000)
                }
            }
        }
    }

    function handleMatchDataChange(data) {
        console.log(data);
        // Current Match
        if (current_match === null) current_match = data.match.id;
        if (current_match !== data.match.id) location.reload();

        if (score_blue === null) score_blue = data.match.score_blue
        if (score_orange === null) score_orange = data.match.score_orange

        if (score_blue !== data.match.score_blue || score_orange !== data.match.score_orange) {
            if (data.match.score_blue === 0 && data.match.score_orange === 0) {
                score_blue = data.match.score_blue;
                score_orange = data.match.score_orange;
                $('#center-text').html("- vs -");
            } else {
                score_blue = data.match.score_blue;
                score_orange = data.match.score_orange;
                $('#center-text').html(`${score_blue} - ${score_orange}`);
            }
        }
    }

    function animateIN() {
        // Start 1s. after page load
        setTimeout(function () {
            main.removeClass("d-none");
            container_center.removeClass("invisible");
            container_center.addClass("animate__animated animate__faster animate__zoomIn");
        }, 1000)

        // Center Text & Team Container (1.3s.)
        setTimeout(function () {
            center_text.removeClass("invisible");
            center_text.addClass("animate__animated animate__faster animate__fadeIn");

            container_left.removeClass("invisible");
            container_left.addClass("anim_scaleInRight");
            container_right.removeClass("invisible");
            container_right.addClass("anim_scaleInLeft");

        }, 1300)

        // Animate background logo (1.5s.)
        setTimeout(function () {
            main_bg.removeClass("invisible");
            main_bg.addClass("animate__animated animate__faster animate__fadeIn");
        }, 1500)

        // Remove animation classes
        setTimeout(function () {
            container_center.removeClass("animate__animated animate__faster animate__zoomIn");
            center_text.removeClass("animate__animated animate__faster animate__fadeIn");
            container_left.removeClass("anim_scaleInRight");
            container_right.removeClass("anim_scaleInLeft");
            main_bg.removeClass("animate__animated animate__faster animate__fadeIn");
        }, 2000)
    }

    function animateOUT() {
        center_text.addClass("animate__animated animate__fadeOut");

        container_left.addClass("anim_scaleInRight anim_reverse");
        container_right.addClass("anim_scaleInLeft anim_reverse");
        main_bg.addClass("animate__animated animate__faster animate__fadeOut");

        setTimeout(function () {
            container_left.addClass("invisible");
            container_right.addClass("invisible");
            center_text.addClass("invisible");
            main_bg.addClass("invisible");

            container_center.addClass("animate__animated animate__faster animate__zoomOut");
        }, 500)

        // Remove animation classes
        setTimeout(function () {
            container_center.removeClass("animate__animated animate__faster animate__zoomOut");
            center_text.removeClass("animate__animated animate__fadeOut");
            container_left.removeClass("anim_scaleInRight anim_reverse");
            container_right.removeClass("anim_scaleInLeft anim_reverse");
            main_bg.removeClass("animate__animated animate__faster animate__fadeOut");
            main.addClass("d-none");
        }, 1500)
    }


</script>