<!DOCTYPE html>
<html lang="en">

{% load i18n %}

{% include "base/head.html" with page_title="Login" %}

<body class="hold-transition login-page">

{% include "base/messages.html" %}

<div class="login-box">
    <div class="login-logo">
        <a href="/">R6 <b>Caster Dashboard</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">{% trans "Sign In" %}</p>

            <form action="/login/form" method="post">
                {% csrf_token %}
                {% if next_url %}
                    <input type="hidden" name="next_url" value="{{ next_url }}">
                {% endif %}
                <div class="input-group mb-3">
                    <input id="username" name="username" type="text" class="form-control"
                           placeholder="{% trans "Username" %}">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input id="password" name="password" type="password" class="form-control"
                           placeholder="{% trans "Password" %}">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">{% trans "Sign In" %}</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center mb-3">
                <p class="text-uppercase">- {% trans "or" %} -</p>
            </div>
            <!-- /.social-auth-links -->

            <p class="mb-1 text-center">
                <a href="#">{% trans "I forgot my password" %}</a>
            </p>
            <p class="mb-0 text-center">
                <a href="/register/" class="text-center">{% trans "Register a new account" %}</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

</body>
</html>
