/*
  Animations SCSS
 */

.anim_scaleInRight {
  animation: scaleInRight 0.5s;
}

.anim_scaleInLeft {
  animation: scaleInLeft 0.5s;
}

.anim_scaleInUp {
  animation: scaleInUp 0.5s;
}

.anim_reverse {
  animation-direction: reverse;
}

@-webkit-keyframes fadeInLeftCenter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-220%, 0, 0);
    transform: translate3d(-220%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeftCenter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-220%, 0, 0);
    transform: translate3d(-220%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInRightCenter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(220%, 0, 0);
    transform: translate3d(220%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRightCenter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(220%, 0, 0);
    transform: translate3d(220%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes scaleInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transform-origin: left;
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: left;
  }
}

@keyframes scaleInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transform-origin: left;
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: left;
  }
}

@-webkit-keyframes scaleInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transform-origin: right;
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: right;
  }
}

@keyframes scaleInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transform-origin: right;
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: right;
  }
}

@-webkit-keyframes scaleInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    transform-origin: bottom;
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: bottom;
  }
}

@keyframes scaleInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    transform-origin: bottom;
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: bottom;
  }
}