@import "base";

// Theme Variable Overrides
$left-bg: linear-gradient(0.25turn, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.8) 80%);
$right-bg: linear-gradient(0.75turn, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.8) 80%);
$score-left-bg: $r6-blue;
$score-right-bg: $r6-orange;
$text-col: #fff;

@import "ingame";

