// Imports
@import "base";
@import "animations";

/*
  InGame SCSS
 */

// Theme Variables
$main-bg: #222222 !default;
$main-border-color: black !default;
$text-col: #fff !default;

// CSS

div {
  height: 100%;
  width: 100%;

  &.main {
    border-top: 3px solid $main-border-color;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    height: 200px !important;
    bottom: 20px;
  }

  &.map-container {
    padding: 15px 20px;
    margin-left: -5px;
    display: grid;
    background: $main-bg;

    & > .img-container {
      border: 3px solid $dark-gray;
      border-radius: 5px;
      box-shadow: 0 0 3px 0 $dark-gray;
      filter: grayscale(0);
    }

    &.ban > .img-container {
      border: 3px solid red;
      border-radius: 5px;
      box-shadow: 0 0 3px 0 red;
      filter: grayscale(0.5) brightness(0.4);
    }

    &.pick > .img-container {
      border: 3px solid green;
      border-radius: 5px;
      box-shadow: 0 0 3px 0 green;
    }
  }
}

img {
  &.map {
    width: 100%;
    height: 100%;
  }

  &.team {
    width: 80px;
    height: 80px;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
  }
}

span.map-description {
  margin-top: 4px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 0 3px #000;
  font-size: 40px;
  color: $text-col;
}

