@import "base";

// Theme Overrides

div {
  &.main {
    top: 0 !important;
    left: 0 !important;
    width: 1920px !important;
    height: 48px !important;
    grid-template-columns: 320px 40px 40px auto 40px 40px 320px !important;
    background: transparent !important;
  }

  &.opban-container {
    height: 40px !important;
    width: 40x !important;
    background: transparent !important;
  }
}

#op1 {
  grid-column-start: 2;
  grid-column-end: 3;
}

#op2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

#op3 {
  grid-column-start: 5;
  grid-column-end: 6;
}

#op4 {
  grid-column-start: 6;
  grid-column-end: 7;
}

img.opban-image {
  height: 40px !important;
  width: 40px !important;
}

@import "opbans";


