/*
  Base SCSS
 */
@font-face {
  font-family: "ScoutCond Bold";
  src: url("/assets/fonts/ScoutCond-Bold.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  width: 1920px;
  height: 100%;
  font-family: "ScoutCond Bold", "BebasNeue", sans-serif;
  background: transparent !important;
}

span {
  font-family: "ScoutCond Bold", "BebasNeue", sans-serif;
}

.d-none {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
  opacity: 0 !important;
}

/*
  Animations SCSS
 */
.anim_0-5s {
  animation-duration: 0.5s !important;
}

.anim_1s {
  animation-duration: 1s !important;
}

.anim_2s {
  animation-duration: 2s !important;
}

.anim_delay_0-5s {
  animation-delay: 0.5s !important;
}

.anim_delay_1s {
  animation-delay: 1s !important;
}

.anim_delay_2s {
  animation-delay: 2s !important;
}

.anim_scaleInRight {
  animation: scaleInRight 0.5s;
}

.anim_scaleInLeft {
  animation: scaleInLeft 0.5s;
}

.anim_scaleInUp {
  animation: scaleInUp 0.5s;
}

.anim_reverse {
  animation-direction: reverse;
}

@-webkit-keyframes fadeInLeftCenter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-220%, 0, 0);
    transform: translate3d(-220%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeftCenter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-220%, 0, 0);
    transform: translate3d(-220%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRightCenter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(220%, 0, 0);
    transform: translate3d(220%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRightCenter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(220%, 0, 0);
    transform: translate3d(220%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes scaleInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transform-origin: left;
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: left;
  }
}
@keyframes scaleInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transform-origin: left;
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: left;
  }
}
@-webkit-keyframes scaleInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transform-origin: right;
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: right;
  }
}
@keyframes scaleInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transform-origin: right;
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: right;
  }
}
@-webkit-keyframes scaleInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    transform-origin: bottom;
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: bottom;
  }
}
@keyframes scaleInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    transform-origin: bottom;
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: bottom;
  }
}
div {
  height: 100%;
  width: 100%;
  margin: 0;
}
div.main {
  top: 0 !important;
  left: 0 !important;
  width: 1920px !important;
  height: 48px !important;
  display: grid;
  grid-template-columns: 320px 40px 40px auto 40px 40px 320px !important;
  background: transparent !important;
}
div.opban-container {
  height: 40px !important;
  width: 40px !important;
  background: transparent !important;
  margin: auto;
}

#op1 {
  grid-column-start: 2;
  grid-column-end: 3;
}

#op2 {
  grid-column-start: 3;
  grid-column-end: 4;
}

#op3 {
  grid-column-start: 5;
  grid-column-end: 6;
}

#op4 {
  grid-column-start: 6;
  grid-column-end: 7;
}

.opban-image {
  height: 40px !important;
  width: 40px !important;
  filter: grayscale(0.4);
}

/*# sourceMappingURL=opbans-default.css.map */
