<!DOCTYPE html>
<html lang="en">

{% block head %}
    {% include "base/head.html" %}
{% endblock %}

<body class="hold-transition sidebar-mini">

{% block body %}

    {% include "base/messages.html" %}

    <div class="wrapper">

        {% include "base/navbar.html" %}

        {% block sidebar %}
            {% include "base/sidebar.html" %}
        {% endblock %}

        <div class="content-wrapper bg-gray-900 pl-2 pr-2">
            <div class="container-fluid">

                {% block page_title_content %}
                    <!-- Heading -->
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">

                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-auto">
                                            <div class="title-icon">
                                                {% block page_title_icon %}{% endblock %}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <h1 class="text-dark title-text">
                                                {% block page_title_text %}{% endblock %}</h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <ol class="breadcrumb mt-2 float-sm-right">
                                        {% block breadcrumbs %}
                                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                            <li class="breadcrumb-item"><a href="#"></a></li>
                                        {% endblock %}
                                    </ol>
                                </div>
                            </div>
                        </div><!-- /.container-fluid -->
                    </section>
                {% endblock %}

            </div>

            <!-- Main content -->
            <section class="content">
                {% block content %}
                {% endblock %}
            </section>

        </div>

        {% include "base/footer.html" %}

    </div>

{% endblock %}

</body>

</html>