{% load i18n %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <span class="brand-text font-weight-light ml-4">R6 Caster Dashboard</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <!-- Home -->
                <li class="nav-item mt-2">
                    <a href="/dashboard/home" class="nav-link {% if active_page == "home" %}active{% endif %}">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            {% trans "Home Page" %}
                        </p>
                    </a>
                </li>

                <!-- Matches -->
                <li class="nav-header text-uppercase">{% trans "Matches" %}</li>

                <!-- Overview -->
                <li class="nav-item">
                    <a href="/dashboard/matches/history"
                       class="nav-link {% if active_page == "match_history" %}active{% endif %}">
                        <i class="nav-icon fas fa-list-ul"></i>
                        <p>
                            {% trans "Overview & History" %}
                        </p>
                    </a>
                </li>

                <!-- Create -->
                <li class="nav-item">
                    <a href="/dashboard/matches/create"
                       class="nav-link {% if active_page == "match_create" %}active{% endif %}">
                        <i class="nav-icon fas fa-plus"></i>
                        <p>
                            {% trans "Create" %}
                        </p>
                    </a>
                </li>

                <!-- Play -->
                <li class="nav-item has-treeview {% if active_page == "match_overview" or active_page == "match_maps" or active_page == "match_rounds" %}menu-open{% endif %}">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-play-circle"></i>
                        <p>
                            {% trans "Play" %}
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">

                        <!-- Match Overview -->
                        <li class="nav-item">
                            <a href="" class="nav-link {% if active_page == "match_overview" %}active{% endif %}">
                                <p>
                                    {% if active_page == "match_overview" %}
                                        <i class="fas fa-chevron-circle-right nav-icon"></i>
                                    {% else %}
                                        <i class="far fa-circle nav-icon"></i>
                                    {% endif %}
                                    {% trans "Match Overview" %}
                                </p>
                            </a>
                        </li>

                        <!-- Map Picks & Bans -->
                        <li class="nav-item">
                            <a href="" class="nav-link {% if active_page == "match_maps" %}active{% endif %}">
                                <p>
                                    {% if active_page == "match_maps" %}
                                        <i class="fas fa-chevron-circle-right nav-icon"></i>
                                    {% else %}
                                        <i class="far fa-circle nav-icon"></i>
                                    {% endif %}
                                    {% trans "Map Pick & Bans" %}
                                </p>
                            </a>
                        </li>

                        <!-- Rounds -->
                        <li class="nav-item">
                            <a href="" class="nav-link {% if active_page == "match_rounds" %}active{% endif %}">
                                <p>
                                    {% if active_page == "match_rounds" %}
                                        <i class="fas fa-chevron-circle-right nav-icon"></i>
                                    {% else %}
                                        <i class="far fa-circle nav-icon"></i>
                                    {% endif %}
                                    {% trans "Rounds" %}
                                </p>
                            </a>
                        </li>

                    </ul>
                </li>

                <!-- Overlays -->
                <li class="nav-header text-uppercase">{% trans "Overlays" %}</li>

                <!-- Control Center -->
                <li class="nav-item">
                    <a href="/dashboard/overlays/control-center"
                       class="nav-link {% if active_page == "control-center" %}active{% endif %}">
                        <i class="nav-icon fas fa-desktop"></i>
                        <p>
                            {% trans "Control Center" %}
                        </p>
                    </a>
                </li>

                <!-- Customize -->
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-palette"></i>
                        <p>
                            {% trans "Customize" %}
                        </p>
                    </a>
                </li>

                <!-- Data -->
                <li class="nav-header text-uppercase">{% trans "Data" %}</li>

                <!-- Leagues -->
                <li class="nav-item">
                    <a href="/dashboard/data/leagues"
                       class="nav-link {% if active_page == "leagues" %}active{% endif %}">
                        <i class="nav-icon fas fa-trophy"></i>
                        <p>
                            {% trans "Leagues" %}
                        </p>
                    </a>
                </li>

                <!-- Seasons -->
                <li class="nav-item">
                    <a href="/dashboard/data/seasons"
                       class="nav-link {% if active_page == "seasons" %}active{% endif %}">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>
                            {% trans "Seasons" %}
                        </p>
                    </a>
                </li>

                <!-- Sponsors -->
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-money-bill-alt"></i>
                        <p>
                            {% trans "Sponsors" %}
                        </p>
                    </a>
                </li>

                <!-- Teams -->
                <li class="nav-item">
                    <a href="/dashboard/data/teams" class="nav-link {% if active_page == "teams" %}active{% endif %}">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            {% trans "Teams" %}
                        </p>
                    </a>
                </li>

                <!-- Statistics -->
                <li class="nav-header text-uppercase">{% trans "Statistics" %}</li>

                <!-- Maps -->
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-map"></i>
                        <p>
                            {% trans "Map Statistics" %}
                        </p>
                    </a>
                </li>

                <!-- OpBans -->
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-user-alt-slash"></i>
                        <p>
                            {% trans "Operator Ban Statistics" %}
                        </p>
                    </a>
                </li>

                <!-- Rounds -->
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-list-ol"></i>
                        <p>
                            {% trans "Round Statistics" %}
                        </p>
                    </a>
                </li>

            </ul>

        </nav>
    </div>
</aside>

