{% extends "base/base.html" %}

{% load i18n %}

{% block head %}
    {% include "base/head.html" with page_title="Home" %}
{% endblock %}

{% block sidebar %}
    {% include "base/sidebar.html" with active_page="home" %}
{% endblock %}


{% block page_title_icon %}
    <i class="fas fa-2x fa-home"></i>
{% endblock %}

{% block page_title_text %}
    {% trans "Home Page" %}
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">{% trans "Home Page" %}</li>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card card-body bg-gradient-success text-white mb-3">
                <p class="text-center">
                    {% blocktrans %}
                        Hi <b>{{ user }}</b>!<br>
                        Welcome to the new R6 Caster Dashboard!<br>
                        New features, an improved design and easier navigation makes the Caster Dashboard easier to
                        use then ever.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-12">
            <h5 class="text-white mb-3">{% trans "Quick Info" %}
                <span class="badge bg-indigo">{% trans "New" %}</span></h5>
        </div>

        <div class="col-xl-4 col-md-6">
            <div class="card card-primary card-outline-all mb-3">
                <div class="card-body bg-gray-800 text-white">
                    <h5 class="card-title card-title-upper">{% trans "Overlay Status" %}</h5><br>

                    <div class="card-divider"></div>

                    <div class="row">
                        <div class="col-8 mb-2">
                            {% trans "InGame Overlay Style" %}
                        </div>
                        <div class="col-4 text-right">
                            <span class="badge badge-pill badge-primary">white</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8 mb-2">
                            {% trans "Start Overlay Style" %}
                        </div>
                        <div class="col-4 text-right">
                            <span class="badge badge-pill badge-primary">transparent</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8 mb-2">
                            {% trans "Map Overlay Style" %}
                        </div>
                        <div class="col-4 text-right">
                            <span class="badge badge-pill badge-primary">dark</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6">
            <div class="card card-danger card-outline-all mb-3">
                <div class="card-body bg-gray-800 text-white">
                    <h5 class="card-title card-title-upper">{% trans "Current Match" %}</h5><br>

                    <div class="card-divider"></div>

                    <div class="row">
                        <div class="col-8 mb-2">
                            {% trans "Match ID" %}
                        </div>
                        <div class="col-4 text-right">
                            {% if current_match %}
                                <span class="badge badge-pill badge-danger">{{ current_match.id }}</span>
                            {% else %}
                                <span class="badge badge-pill badge-danger">{% trans "No Match" %}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 mb-2">
                            {% trans "Team Blue" %}
                        </div>
                        <div class="col-8 text-right">
                            {% if current_match %}
                                <span class="badge badge-pill badge-danger">{{ current_match.team_blue }}</span>
                            {% else %}
                                <span class="badge badge-pill badge-danger">{% trans "No Team" %}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 mb-2">
                            {% trans "Team Orange" %}
                        </div>
                        <div class="col-8 text-right">
                            {% if current_match %}
                                <span class="badge badge-pill badge-danger">{{ current_match.team_orange }}</span>
                            {% else %}
                                <span class="badge badge-pill badge-danger">{% trans "No Team" %}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6">
            <div class="card card-success card-outline-all mb-3">
                <div class="card-body bg-gray-800 text-white">
                    <h5 class="card-title card-title-upper">{% trans "Personal Stats" %}</h5><br>

                    <div class="card-divider"></div>

                    <div class="row">
                        <div class="col-6 mb-2">
                            {% trans "Member Since" %}
                        </div>
                        <div class="col-6 text-right">
                            <span class="badge badge-pill badge-success">{{ user.date_joined }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 mb-2">
                            {% trans "Last Login" %}
                        </div>
                        <div class="col-8 text-right">
                            <span class="badge badge-pill badge-success">{{ user.last_login }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8 mb-2">
                            {% trans "Matches Created" %}
                        </div>
                        <div class="col-4 text-right">
                            <span class="badge badge-pill badge-success">{{ personal_match_count }}</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6 col-xl-4">
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>{{ team_count }}</h3>

                    <p>{% trans "Teams Added" %}</p>
                </div>
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-4">
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>{{ match_count }}</h3>

                    <p>{% trans "Matches Created" %}</p>
                </div>
                <div class="icon">
                    <i class="fas fa-gamepad"></i>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-4">
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{ round_count }}</h3>

                    <p>{% trans "Rounds Played" %}</p>
                </div>
                <div class="icon">
                    <i class="fas fa-list-ol"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

