/*
  Base SCSS
 */
@font-face {
  font-family: "ScoutCond Bold";
  src: url("/static/fonts/ScoutCond-Bold.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  width: 1920px;
  height: 100%;
  font-family: "ScoutCond Bold", "BebasNeue", sans-serif;
}

.d-none {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
  opacity: 0 !important;
}

/*
  Base SCSS
 */
@font-face {
  font-family: "ScoutCond Bold";
  src: url("/static/fonts/ScoutCond-Bold.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  width: 1920px;
  height: 100%;
  font-family: "ScoutCond Bold", "BebasNeue", sans-serif;
}

.d-none {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
  opacity: 0 !important;
}

/*
  Animations SCSS
 */
.anim_scaleInRight {
  animation: scaleInRight 0.5s;
}

.anim_scaleInLeft {
  animation: scaleInLeft 0.5s;
}

.anim_scaleInUp {
  animation: scaleInUp 0.5s;
}

.anim_reverse {
  animation-direction: reverse;
}

@-webkit-keyframes fadeInLeftCenter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-220%, 0, 0);
    transform: translate3d(-220%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeftCenter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-220%, 0, 0);
    transform: translate3d(-220%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRightCenter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(220%, 0, 0);
    transform: translate3d(220%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRightCenter {
  from {
    opacity: 0;
    -webkit-transform: translate3d(220%, 0, 0);
    transform: translate3d(220%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes scaleInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transform-origin: left;
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: left;
  }
}
@keyframes scaleInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transform-origin: left;
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: left;
  }
}
@-webkit-keyframes scaleInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transform-origin: right;
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: right;
  }
}
@keyframes scaleInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transform-origin: right;
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: right;
  }
}
@-webkit-keyframes scaleInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    transform-origin: bottom;
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: bottom;
  }
}
@keyframes scaleInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    transform-origin: bottom;
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    transform-origin: bottom;
  }
}
/*
  InGame SCSS
 */
div {
  height: 100%;
  width: 100%;
}
div.d-disabled {
  display: none !important;
}
div.main-bg {
  position: absolute;
  height: 48px !important;
}
div.main {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 186px 1fr;
  height: 48px !important;
}
div.container-left {
  display: grid;
  grid-template-columns: 300px 1fr;
  background: linear-gradient(0.25turn, rgba(255, 255, 255, 0.3) 10%, rgba(255, 255, 255, 0.8) 80%);
}
div.container-right {
  display: grid;
  grid-template-columns: 1fr 300px;
  background: linear-gradient(0.75turn, rgba(255, 255, 255, 0.3) 10%, rgba(255, 255, 255, 0.8) 80%);
}
div.container-center {
  display: grid;
  grid-template-columns: 54px 1fr 54px;
  background: #111;
}
div.container-sponsor {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
div.title-wrapper, div.title-wrapper-sm, div.title-wrapper-big {
  display: flex;
}
div.title-wrapper-big {
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
div.title-wrapper-sm {
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
div.container-team, div.container-team-right, div.container-team-left {
  display: flex;
  align-items: center;
  flex-direction: row;
}
div.container-team-left {
  justify-content: flex-end;
}
div.container-team-right {
  justify-content: start;
}
div.container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.container-score, div.container-score-right, div.container-score-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.container-score-left {
  background: #0870d3;
}
div.container-score-right {
  background: #ea7516;
}
div.score {
  width: 34px;
  height: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
  background: #555;
}
div.score.active {
  background: yellow;
  box-shadow: 0px 0px 2px 0px yellow;
}

img.logo, img.logo-team {
  height: 40px;
  width: 40px;
}
img.logo-team {
  margin-left: 7px;
  margin-right: 7px;
}
img.sponsor {
  margin-right: 7px;
  height: 40px;
  width: auto;
}

span {
  text-transform: uppercase;
  color: #000;
}
span.title, span.title-sm, span.title-big {
  margin-left: 7px;
}
span.title-big {
  margin-top: -4px;
  font-size: 32px;
}
span.title-sm {
  margin-top: -2px;
  font-size: 24px;
  line-height: 24px;
}
span.team-name-text, span.team-name-text-right, span.team-name-text-left {
  margin-top: -4px;
  margin-left: 7px;
  margin-right: 7px;
  font-size: 40px;
}
span.team-name-text-left {
  margin-right: 14px;
}
span.team-name-text-right {
  margin-left: 14px;
}

/*# sourceMappingURL=ingame-white.css.map */
