// Imports
@import "base";
@import "animations";

/*
  Rounds SCSS
 */

div {
  height: 100%;
  width: 100%;
  margin: 0;

  &.container {
    position: absolute;
    width: 1920px;
    height: 100%;
    display: grid;
    align-items: end;
    justify-content: center;
  }

  &.main {
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: 110px 46px;
    width: auto;
    height: 156px;
    padding-left: 5px;
    padding-right: 5px;
    background: rgba(0, 0, 0, 0.95);
    border: 2px solid white;
  }

  &.title-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    border-top: 3px solid white;
  }
}

table {
  margin: 5px;
  border-collapse: collapse;
  border-style: hidden;
}

th, td {
  border: 3px solid white;
  text-align: center;
}

th {
  padding-right: 5px;
}

img {
  &.logo {
    margin: 5px;
    width: 35px;
    height: 35px;
  }

  &.win-icon {
    margin: 5px 6px;
    width: 35px;
    height: 35px;
  }
}

span.title {
  width: 100%;
  font-size: 32px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}